Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add validation for empty file system backup on Undercloud
  tripleo_common/actions/undercloud.py
  tripleo_common/tests/actions/test_undercloud.py
Due: none

Add yum update to base
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Run yum clean to reduce size of docker image layer
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Check pub key file perms and default to pub key data
  playbooks/octavia-files.yaml
  playbooks/roles/common/defaults/main.yml
  playbooks/roles/octavia-undercloud/tasks/main.yml
  releasenotes/notes/fix-octavia-pub-key-d195fbf1976a8d36.yaml
  releasenotes/notes/fix-syntax-error-in-octavia-undercloud-role-c02b0c5b0f1ece34.yaml
  workbooks/octavia_post.yaml
Due: none

Add in a STOPSIGNAL configuration
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Increase services project quotas when deploying Octavia
  playbooks/octavia-files.yaml
  playbooks/roles/octavia-overcloud-config/tasks/main.yml
  playbooks/roles/octavia-overcloud-config/tasks/quotas.yml
  workbooks/octavia_post.yaml
Due: none

Install Octavia amphora image if Red Hat
  playbooks/roles/octavia-undercloud/tasks/main.yml
  releasenotes/notes/install-octavia-amphora-image-red-hat-bc8545e36d88f951.yaml
Due: none

Include 'tripleo_role_name' in the inventory
  tripleo_common/inventory.py
  tripleo_common/tests/test_inventory.py
Due: none

(cleanup) remove usage of role_name
  tripleo_common/inventory.py
  tripleo_common/templates/deployments.yaml
  tripleo_common/tests/test_inventory.py
Due: none

Convert classic drivers to hardware types on enrollment
  releasenotes/notes/no-classic-drivers-d56f8c3ff15af2c3.yaml
  tripleo_common/tests/utils/test_nodes.py
  tripleo_common/utils/nodes.py
Due: none

Persist package update ansible logs
  workbooks/package_update.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Revert "TLS by default for the overcloud"
  releasenotes/notes/Public-TLS-by-default-ea0bc712f475472f.yaml
  requirements.txt
  scripts/tripleo-overcloud-cert
  setup.cfg
  sudoers
  tripleo_common/actions/deployment.py
  tripleo_common/constants.py
  tripleo_common/tests/actions/test_deployment.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Fix redis healthcheck
  healthcheck/redis
Due: none

Make lb-mgmt-subnet a class B subnet
  playbooks/roles/common/defaults/main.yml
  releasenotes/notes/releasenotes/notes/update-lb-mgmt-subnet-to-class-b-1cd832ef08a30c85.yaml
Due: none

Set deployment_status from config_download_deploy
  workbooks/deployment.yaml
Due: none

Add workflow for plan deployment status
  workbooks/deployment.yaml
Due: none

Add an action to upload validations to Swift
  setup.cfg
  tripleo_common/actions/base.py
  tripleo_common/actions/templates.py
  tripleo_common/actions/validations.py
  tripleo_common/constants.py
Due: none

Remove horizon ui plugins we don't support
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add a 'trash_output' flag to ansible playbook action
  tripleo_common/actions/ansible.py
  workbooks/deployment.yaml
  workbooks/package_update.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Update heat api healtchecks
  healthcheck/heat-api
  healthcheck/heat-api-cfn
Due: none

Add an "includes" prepare filter to match "excludes"
  releasenotes/notes/prepare-includes-0c9a077369e99619.yaml
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: none

Prevent updating derived_parameters in plan environment
  workbooks/derive_params.yaml
Due: none

Add special 'all' for deploy_on_servers server name to match all
  workbooks/deployment.yaml
Due: none

Remove the upgrade-non-controller.sh and disable_upgrade_deployment
  scripts/upgrade-non-controller.sh
  setup.cfg
  tripleo_common/utils/roles.py
Due: none

Fix Octavia amphora image RPM install
  playbooks/roles/octavia-undercloud/tasks/main.yml
  releasenotes/notes/fix-octavia-image-rpm-install-permissions-846cd6780a527084.yaml
  sudoers
Due: none

Add a dry-run behaviour to image image_uploader
  tripleo_common/image/image_uploader.py
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_image_uploader.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: none

Test target image exists before modifying
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Lowercase any hostname comparisons in bootstrap_* scripts
  scripts/bootstrap_host_exec
  scripts/bootstrap_host_only_eval
  scripts/bootstrap_host_only_exec
Due: none

Fix handling hardware types and drivers when generating fencing parameters
  releasenotes/notes/fencing-hw-types-fddcdb6bf6d79414.yaml
  tripleo_common/actions/parameters.py
  tripleo_common/tests/actions/test_parameters.py
  tripleo_common/utils/nodes.py
  workbooks/parameters.yaml
Due: none

Increase services project secgroup-rules quotas when deploying Octavia
  playbooks/roles/octavia-overcloud-config/tasks/quotas.yml
Due: none

Fix readme doc
  README.rst
Due: none

Remove the tripleo.container_images.prepare_upload action
  setup.cfg
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: workbooks/ceph-ansible.yaml, ^container-images/.*$, tripleo_common/actions/ansible.py
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^container-images/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^container-images/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: workbooks/ceph-ansible.yaml, ^container-images/.*$, tripleo_common/actions/ansible.py
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^container-images/.*$
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: workbooks/package_update.yaml, workbooks/baremetal.yaml, ^container-images/.*$, tripleo_common/actions/deployment.py
