Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario003-standalone, tripleo-ci-centos-8-scenario004-standalone, tripleo-ci-centos-8-scenario007-standalone, tripleo-ci-centos-8-scenario010-standalone, tripleo-buildimage-overcloud-full-centos-8, tripleo-buildimage-ironic-python-agent-centos-8, tripleo-buildimage-overcloud-hardened-full-centos-8

Path conditions:
  tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates: any of: workbooks/package_update.yaml, workbooks/baremetal.yaml, ^container-images/.*$, tripleo_common/actions/deployment.py, tripleo_common/actions/container_images.py, tripleo_common/image/kolla_builder.py, scripts/.*$
  tripleo-ci-centos-8-scenario001-standalone: any of: ^container-images/tcib/base/collectd.*$, ^container-images/tcib/base/os/aodh.*$, ^container-images/tcib/base/os/ceilometer.*$, ^container-images/tcib/base/os/cinder.*$, ^container-images/tcib/base/os/gnocchi.*$, ^container-images/tcib/base/os/heat.*$, ^container-images/tcib/base/qdrouterd.*$, ^container-images/tcib/base/rabbitmq.*$, ^container-images/tcib/base/redis.*$
  tripleo-ci-centos-8-scenario003-standalone: any of: ^container-images/tcib/base/os/designate.*$, ^container-images/tcib/base/os/mistral.*$, ^container-images/tcib/base/os/sahara.*$
  tripleo-ci-centos-8-scenario004-standalone: any of: ^container-images/tcib/base/os/manila.*$
  tripleo-ci-centos-8-scenario007-standalone: any of: ^container-images/tcib/base/os/neutron.*$
  tripleo-ci-centos-8-scenario010-standalone: any of: ^container-images/tcib/base/os/octavia.*$
  tripleo-buildimage-overcloud-full-centos-8: any of: ^image-yaml/.*$
  tripleo-buildimage-ironic-python-agent-centos-8: any of: ^image-yaml/.*$
  tripleo-buildimage-overcloud-hardened-full-centos-8: any of: ^image-yaml/.*$

Add modify_only_with_source
  releasenotes/notes/container-image-prepare-modify_only_with_source-d9be8cc7236e7c94.yaml
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Restore default log path for image prepare
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Wait for lock release during power state change
  workbooks/baremetal.yaml
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Remove overcloud_containers.yaml
  container-images/overcloud_containers.yaml
  container-images/overcloud_containers.yaml.j2
  contrib/overcloud_containers.yaml
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Relax filter_images_with_labels() and re-add kolla_version
  container-images/tcib/base/base.yaml
  tripleo_common/image/image_uploader.py
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Fix config parser warning
  tripleo_common/actions/ansible.py
Due: none

Make check_hieradata not fail on empty values of ceph::profile::params::osds
  workbooks/ceph-ansible.yaml
Due: none

Switch to tripleo_containers.yaml
  container-images/container_image_prepare_defaults.yaml
  container-images/tripleo_containers.yaml
  container-images/tripleo_containers.yaml.j2
  releasenotes/notes/use-tripleo-containers-file-0590a59f56fb3907.yaml
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
  tripleo_common/tests/utils/test_plan.py
  tripleo_common/utils/plan.py
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

First pass at script cleanup
  container-images/kolla/barbican-base/sudoers
  container-images/kolla/base/httpd_setup.sh
  container-images/kolla/base/sudoers
  container-images/kolla/horizon/extend_start.sh
  container-images/kolla/neutron-base/neutron_sudoers
  container-images/tcib/base/mariadb/mariadb.yaml
  container-images/tcib/base/os/barbican-base/barbican-base.yaml
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

tcib: rename kolla_version to tcib_managed
  container-images/tcib/base/base.yaml
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

[TRAIN-Only] Default centos8 namespace fix
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Remove sahara-* from list in tripleo_containers.yaml
  container-images/tripleo_containers.yaml
  container-images/tripleo_containers.yaml.j2
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Remove tripleo-container-image-prepare script
  scripts/tripleo-container-image-prepare
  setup.cfg
  sudoers
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Include virt-admin in the nova_libvirt container
  container-images/tcib/base/os/nova-base/nova-libvirt/nova-libvirt.yaml
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Remove healthcheck/tacker
  healthcheck/tacker
Due: none

Remove skydive support
  container-images/overcloud_containers.yaml
  container-images/overcloud_containers.yaml.j2
  releasenotes/notes/remove-skydive-support-1cea22a7419a3b13.yaml
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Remove tripleo.skydive_ansible.v1 workbook
  workbooks/skydive-ansible.yaml
Due: none

Switch default container prefix to openstack
  container-images/container_image_prepare_defaults.yaml
  container-images/tripleo_containers.yaml
  releasenotes/notes/default-container-prefix-is-openstack-3cd42220d6cdfed0.yaml
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Add neutron-mlnx-agent container image
  container-images/tcib/base/os/neutron-base/neutron-mlnx-agent/neutron-mlnx-agent.yaml
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario007-standalone

Stop configuring install_command in tox.
  tox.ini
Due: none

Add --layers for tcib image layer caching
  tripleo_common/image/builder/buildah.py
  tripleo_common/tests/image/builder/test_buildah.py
Due: none

Support basic auth for image registry
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Make current user owner of build log files
  tripleo_common/image/builder/buildah.py
  tripleo_common/tests/image/builder/test_buildah.py
Due: none

Remove Kolla overrides
  container-images/tripleo_kolla_config_overrides.conf
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Remove unused sensu-client healthcheck
  healthcheck/sensu-client
Due: none

[TRAIN-Only] Add healthcheck debug flag
  healthcheck/common.sh
  releasenotes/notes/healthcheck-debug-0fbcfebd9042720c.yaml
Due: none

TCIB: remove leftovers from sahara
  container-images/kolla/horizon/extend_start.sh
  healthcheck/sahara-api
  healthcheck/sahara-engine
  zuul.d/layout.yaml
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Remove the base layers
  container-images/tripleo_containers.yaml
  container-images/tripleo_containers.yaml.j2
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

[train-only] add ec2-api image into TCIB
  container-images/kolla/base/uid_gid_manage.sh
  container-images/kolla/ec2-api/extend_start.sh
  container-images/tcib/base/os/ec2-api/ec2-api.yaml
  container-images/tripleo_containers.yaml
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Add interface-names to Rhel8 images
  image-yaml/overcloud-hardened-images-rhel8.yaml
  image-yaml/overcloud-images-ceph-rhel8.yaml
  image-yaml/overcloud-images-rhel8.yaml
Due: tripleo-buildimage-overcloud-full-centos-8, tripleo-buildimage-ironic-python-agent-centos-8, tripleo-buildimage-overcloud-hardened-full-centos-8

update tripleo-train tripleo_containers to default names
  container-images/tripleo_containers.yaml
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Remove remaining implementations for OpenDaylight
  container-images/container_image_prepare_defaults.yaml
  healthcheck/opendaylight-api
  image-yaml/overcloud-odl-rhel7.yaml
  workbooks/derive_params.yaml
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates, tripleo-buildimage-overcloud-full-centos-8, tripleo-buildimage-ironic-python-agent-centos-8, tripleo-buildimage-overcloud-hardened-full-centos-8

Fix handling of default_tag
  container-images/container_image_prepare_defaults.yaml
  tripleo_common/image/image_uploader.py
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_image_uploader.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Replace cradox with rados
  container-images/tcib/base/os/gnocchi-base/gnocchi-base.yaml
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario001-standalone
