Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
  dependencies:
  - openstack-tox-pep8
  - openstack-tox-py27
  - openstack-tox-py35
  - openstack-tox-py36
  - openstack-tox-py37

tripleo-ci-centos-7-scenario007-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8
  - openstack-tox-py27
  - openstack-tox-py35
  - openstack-tox-py36
  - openstack-tox-py37

Incorrectly derives NeutronPhysnetNUMANodesMapping
  workbooks/derive_params_formulas.yaml
Due: none

kolla/overrides: add missing healthcheck for ironic-neutron-agent
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Add horizon health check
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

OvS DPDK parameters failing in NIC Partitioning
  tripleo_common/actions/derive_params.py
Due: none

Fix ironic-pxe container healthcheck
  healthcheck/ironic-pxe
Due: none

Revert "Update hostvars lookup to fix regression"
  tripleo_common/utils/config.py
Due: none

Add deploy_steps_tasks to PER_TASK_STEPS
  tripleo_common/constants.py
Due: none

Make ()'s around step|int optional
  tripleo_common/utils/config.py
Due: none

Remove workdir only if it's a temporary one
  tripleo_common/actions/ansible.py
  tripleo_common/tests/actions/test_ansible.py
Due: none

Quote output values for overcloudrc
  tripleo_common/tests/utils/test_overcloudrc.py
  tripleo_common/utils/overcloudrc.py
Due: none

Default to 50 Ansible forks.
  tripleo_common/actions/ansible.py
  tripleo_common/tests/actions/test_ansible.py
Due: none

actions/ansible: catch errors when cleaning the work directory
  tripleo_common/actions/ansible.py
Due: none

Ensure blacklisted nodes are not included in server_names
  tripleo_common/utils/config.py
Due: none

Change the python interpreter discovery mode.
  tripleo_common/actions/ansible.py
Due: none

Increase randomness of generated CephFSID
  tripleo_common/utils/passwords.py
Due: none

Add container images for DCN/Edge deployments
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Bump ceph/daemon container image to v4.0.8
  container-images/container_image_prepare_defaults.yaml
  container-images/overcloud_containers.yaml
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Bump ceph/daemon container image to v3.2.10
  container-images/container_image_prepare_defaults.yaml
  container-images/overcloud_containers.yaml
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Bump ceph/daemon container image to v3.2.10
  container-images/overcloud_containers.yaml
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

add and unify the retries when messages are published to swift
  workbooks/messaging.yaml
Due: none

Revert "Added support of overcloud os_cloud"
  setup.cfg
  tripleo_common/actions/deployment.py
  tripleo_common/constants.py
  tripleo_common/utils/clouds_yaml.py
  workbooks/deployment.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

config: refactor how per step tasks are generated
  tripleo_common/constants.py
  tripleo_common/utils/config.py
Due: none

Pass container_config to config actions
  workbooks/package_update.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

image-uploader: allow an image without Labels to be uploaded
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: workbooks/package_update.yaml, workbooks/baremetal.yaml, ^container-images/.*$, tripleo_common/actions/deployment.py, tripleo_common/actions/container_images.py, tripleo_common/image/kolla_builder.py, scripts/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py, scripts/tripleo-deploy-openshift
