Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

zuul.d/layout.yaml:

- project:
    templates:
      - tripleo-undercloud-jobs
      - tripleo-multinode-baremetal-minimal
      - tripleo-multinode-container-minimal
      - check-requirements
      - publish-openstack-sphinx-docs
      - openstack-python-jobs
      - openstack-python35-jobs
      - release-notes-jobs
    check:
      jobs:
        - tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
            voting: true
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario001-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario002-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario003-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario004-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - openstack-tox-cover:
            voting: false

    gate:
      queue: tripleo
      jobs:
        - tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
            voting: true
            files:
              - ^container-images/.*$

Adjust where iptables-services is injected
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Use ansible virtual package
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Update required packages for octavia api
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove timeout from ansible-playbook-command.sh
  tripleo_common/actions/ansible.py
Due: none

Clean up node registration output.
  workbooks/baremetal.yaml
Due: none

Fix running the baremetal provide workflow with node names
  releasenotes/notes/provide-name-f75b6b61d3d8d693.yaml
  workbooks/baremetal.yaml
Due: none

Upgrades: Don't try to publish ansible output in ceph_install
  workbooks/ceph-ansible.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Add image_source to containers
  container-images/overcloud_containers.yaml
  container-images/overcloud_containers.yaml.j2
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

scen009 voting on rocky only
  zuul.d/layout.yaml
Due: none

mariadb: stop requiring extra package mariadb-server-utils
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add openssl-perl to provide /etc/pki/CA in TLS setup
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Mount openshift-ansible working dir with 'z' option
  scripts/tripleo-deploy-openshift
Due: none

Update programming language mentioned in setup.cfg
  releasenotes/notes/update-programming-language-54ded15322426458.yaml
  setup.cfg
Due: none

Octavia: set selinux contexts on ansible generated configuration
  playbooks/roles/octavia-controller-config/tasks/certificate.yml
  playbooks/roles/octavia-controller-config/tasks/main.yml
  playbooks/roles/octavia-controller-config/tasks/octavia.yml
  playbooks/roles/octavia-controller-post-config/tasks/main.yml
Due: none

Write out /v2/_catalog file after image export
  tripleo_common/image/image_export.py
  tripleo_common/tests/image/test_image_export.py
Due: none

Add a method to list all images in a registry
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Implement image delete for exported images
  tripleo_common/image/image_export.py
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_export.py
Due: none

placement: Add mariadb to the placement-api container for upgrades
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

remove libvirt-daemon-driver-lxc
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add passphrase generation for Octavia
  tripleo_common/constants.py
  tripleo_common/tests/actions/test_parameters.py
Due: none

add lower-constraints job
  lower-constraints.txt
  requirements.txt
  tox.ini
  tripleo_common/tests/utils/test_config.py
  zuul.d/layout.yaml
Due: none

Silent "curl" calls within healthchecks
  healthcheck/common.sh
Due: none

Silent memcached healthcheck
  healthcheck/memcached
Due: none

Fix undercloud backup via tripleoclient
  tripleo_common/actions/undercloud.py
  tripleo_common/tests/actions/test_undercloud.py
  workbooks/undercloud_backup.yaml
Due: none

Stop dumb-init usage
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Silent file descriptor checks
  healthcheck/common.sh
Due: none

Revert "Stop dumb-init usage"
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Make validation inputs configurable via Mistral
  scripts/run-validation
  sudoers
  tripleo_common/actions/validations.py
  tripleo_common/tests/actions/test_validations.py
  tripleo_common/tests/utils/test_validations.py
  tripleo_common/utils/validations.py
  workbooks/validations.yaml
Due: none

Implement push flag for buildah
  tripleo_common/image/builder/buildah.py
  tripleo_common/tests/image/builder/test_buildah.py
Due: none

turn voting/gating on scen009 master
  zuul.d/layout.yaml
Due: none

Specify whether undercloud connection is ssh or local
  tripleo_common/actions/ansible.py
  tripleo_common/inventory.py
  tripleo_common/tests/test_inventory.py
Due: none

Set the private key for undercloud tripleo-admin
  tripleo_common/actions/ansible.py
  tripleo_common/inventory.py
  tripleo_common/tests/test_inventory.py
  workbooks/access.yaml
  workbooks/deployment.yaml
Due: none

Uncap jsonschema
  requirements.txt
Due: none

Ensure we get a value for manifest digest
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

playbooks/rotate-keys: add support for podman
  playbooks/rotate-keys.yaml
Due: none

Use ContainerImageRegistryCredentials for registry auth
  tripleo_common/image/image_uploader.py
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_image_uploader.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: none

image_uploader: use buildah instead of podman to manipulate images
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none
