Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
  dependencies:
  - openstack-tox-pep8
  - openstack-tox-py27
  - openstack-tox-py35
  - openstack-tox-py36
  - openstack-tox-py37

tripleo-ci-centos-7-scenario007-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8
  - openstack-tox-py27
  - openstack-tox-py35
  - openstack-tox-py36
  - openstack-tox-py37

Skip processing network info if not defined
  roles/tripleo-hieradata/templates/fqdn.j2
  roles/tripleo-hieradata/templates/net_ip_map.j2
Due: none

Fix flake8 git repo location
  .pre-commit-config.yaml
Due: none

wait_for_introspection_to_finish_error set status FAILED
  workbooks/baremetal.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Rename _short_bootstrap_node_ip to _bootstrap_node_ip
  roles/tripleo-hieradata/templates/all_nodes.j2
Due: none

Remove the tripleo-persist role
  roles/tripleo-persist/README.md
  roles/tripleo-persist/defaults/main.yml
  roles/tripleo-persist/tasks/cleanup.yml
  roles/tripleo-persist/tasks/persist.yml
  roles/tripleo-persist/tasks/restore.yml
  roles/tripleo-persist/test-playbook.yml
Due: none

Remove the tripleo.plan_management.v1.select_roles workflow
  workbooks/plan_management.yaml
Due: none

Properly close web request
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: none

Persist region name in overcloudrc
  tripleo_common/actions/deployment.py
  tripleo_common/tests/utils/test_overcloudrc.py
  tripleo_common/utils/overcloudrc.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Use the default ContainerImagePrepare if not provided
  tripleo_common/image/kolla_builder.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Update GitPython requirement from global-requirements
  requirements.txt
Due: none

nova-less-deploy: update to metalsmith 0.13
  lower-constraints.txt
  requirements.txt
  tripleo_common/actions/baremetal_deploy.py
Due: none

Move redis_vip to all_nodes.j2
  releasenotes/notes/move_redis_vip_to_all_nodes-bdd1c96438d6ed91.yaml
  roles/tripleo-hieradata/templates/all_nodes.j2
  roles/tripleo-hieradata/templates/vip_data.j2
Due: none

Ensure that OctaviaServerCertsKeyPassphrase is 32-byte long
  releasenotes/notes/fix-generated-server_certs_key_passphrase-60cba4653109992c.yaml
  tripleo_common/tests/utils/test_passwords.py
  tripleo_common/utils/passwords.py
Due: none

Bump ceph/daemon container image to v4.0.1
  container-images/container_image_prepare_defaults.yaml
  container-images/overcloud_containers.yaml
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Add service_configs template to tripleo-hieradata
  roles/tripleo-hieradata/templates/service_configs.j2
Due: none

Add extraconfig/role_extraconfig template to hieradata
  roles/tripleo-hieradata/tasks/main.yaml
  roles/tripleo-hieradata/templates/extraconfig.j2
  roles/tripleo-hieradata/templates/role_extraconfig.j2
Due: none

Fix ansible-generate-inventory action
  tripleo_common/inventory.py
  tripleo_common/tests/test_inventory.py
Due: none

Add deployment_options input to config_download workflow
  workbooks/deployment.yaml
Due: none

Add docker/podman packages to nova_libvirt container
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Fix swift-proxy healthcheck
  healthcheck/swift-proxy
Due: none

Sync Sphinx requirement
  test-requirements.txt
Due: none

Add reauthentication to sessions
  tripleo_common/image/image_uploader.py
Due: none

support conductor group feature in ironic conductor
  tripleo_common/actions/base.py
  tripleo_common/tests/actions/test_base.py
  tripleo_common/tests/utils/test_nodes.py
  tripleo_common/utils/nodes.py
Due: none

Minor fix for typo : replaces seccomp with libseccomp
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Fix expensive api call to get deployment_name
  tripleo_common/utils/config.py
Due: none

Add image for neutron-mlnx-agent
  container-images/overcloud_containers.yaml
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Remove support for enrolling nodes with Cisco hardware types
  releasenotes/notes/no-cisco-46992167cd0ab6d0.yaml
  tripleo_common/tests/utils/test_nodes.py
  tripleo_common/utils/nodes.py
Due: none

Restore AllNodesExtraMapData
  roles/tripleo-hieradata/templates/all_nodes.j2
Due: none

Use internal endpoints for configuration in octavia nodes
  playbooks/octavia-files.yaml
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: workbooks/package_update.yaml, workbooks/baremetal.yaml, ^container-images/.*$, tripleo_common/actions/deployment.py, tripleo_common/actions/container_images.py, tripleo_common/image/kolla_builder.py, scripts/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py, scripts/tripleo-deploy-openshift
