Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
  dependencies:
  - openstack-tox-pep8
  - openstack-tox-py27
  - openstack-tox-py35
  - openstack-tox-py36
  - openstack-tox-py37

tripleo-ci-centos-7-scenario007-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8
  - openstack-tox-py27
  - openstack-tox-py35
  - openstack-tox-py36
  - openstack-tox-py37

Remove unused tripleo.networks.v1 workbook
  setup.cfg
  tripleo_common/actions/plan.py
  tripleo_common/tests/actions/test_plan.py
  workbooks/networks.yaml
Due: none

Tune ansible configuration for better performance
  tripleo_common/actions/ansible.py
Due: none

tests: Get RoleData correctly
  tripleo_common/tests/utils/test_config.py
Due: none

Remove discover_nodes workflows
  setup.cfg
  workbooks/baremetal.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add tripleo_role_networks to inventory role group vars
  tripleo_common/inventory.py
  tripleo_common/tests/test_inventories.py
  tripleo_common/tests/test_inventory.py
Due: none

remove py27 tox job
  zuul.d/layout.yaml
Due: none

Dynamically set the number of Ansible forks.
  tripleo_common/actions/ansible.py
  tripleo_common/tests/actions/test_ansible.py
Due: none

Dynamically set the number of Ansible forks.
  tripleo_common/actions/ansible.py
Due: none

config: refactor how per step tasks are generated
  tripleo_common/constants.py
  tripleo_common/tests/utils/test_config.py
  tripleo_common/utils/config.py
Due: none

Remove container_image_prepare_default workflow
  setup.cfg
  tripleo_common/actions/container_images.py
  tripleo_common/tests/actions/test_container_images.py
  workbooks/container_images.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

image_uploader (attempt #3): fix images upload with no labels
  tripleo_common/image/image_uploader.py
Due: none

[Queens-only] make sure cellv2 host discovery task only run once
  playbooks/nova_cellv2_host_discover.yaml
Due: none

Fixes for CentOS8 containers build
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Set PROFILE_TASKS_TASK_OUTPUT_LIMIT
  tripleo_common/actions/ansible.py
  tripleo_common/tests/actions/test_ansible.py
Due: none

Fix Octavia certificate file path and content
  playbooks/roles/octavia-controller-config/tasks/certificate.yml
  releasenotes/notes/octavia-fix-certificates-path-and-content-e8acf1e859e75135.yaml
Due: none

Bump ceph/daemon container image to v4.0.10
  container-images/container_image_prepare_defaults.yaml
  container-images/overcloud_containers.yaml
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

pin ironicclient under 4.0.0 for py27
  requirements.txt
Due: none

Move process template functionality to utils
  setup.cfg
  tripleo_common/actions/deployment.py
  tripleo_common/actions/package_update.py
  tripleo_common/actions/parameters.py
  tripleo_common/actions/scale.py
  tripleo_common/actions/templates.py
  tripleo_common/tests/actions/test_package_update.py
  tripleo_common/tests/actions/test_templates.py
  tripleo_common/tests/utils/test_template.py
  tripleo_common/utils/template.py
  workbooks/plan_management.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add RootStackName parameter on stack update
  releasenotes/notes/add-rootstackname-on-update-258dbf091fea497e.yaml
  workbooks/plan_management.yaml
Due: none

Bracket IPv6 address in ironic_inspector healthcheck
  healthcheck/common.sh
  healthcheck/fluentd
  healthcheck/glance-api
  healthcheck/ironic-inspector
  healthcheck/ironic-pxe
  healthcheck/memcached
  healthcheck/neutron-api
  healthcheck/nova-vnc-proxy
  healthcheck/opendaylight-api
  healthcheck/sahara-api
  healthcheck/swift-account-server
  healthcheck/swift-container-server
  healthcheck/swift-object-server
  healthcheck/swift-proxy
  healthcheck/tacker
Due: none

Revert "Added support of overcloud os_cloud"
  setup.cfg
  tripleo_common/actions/deployment.py
  tripleo_common/constants.py
  tripleo_common/utils/clouds_yaml.py
  workbooks/deployment.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Remove the undercloud backup workflow and actions
  setup.cfg
  tripleo_common/actions/undercloud.py
  tripleo_common/tests/actions/test_undercloud.py
  workbooks/undercloud_backup.yaml
Due: none

Remove tripleo.deployment.convert_status action
  setup.cfg
  tripleo_common/actions/deployment.py
  tripleo_common/tests/actions/test_deployment.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Make healthchecks more strict
  healthcheck/common.sh
Due: none

container_update: Retry removing containers.
  scripts/container-update.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Do not create symlink conf.d/post-deploy
  playbooks/roles/octavia-controller-post-config/tasks/main.yml
Due: none

Improve step task check to cater for whitespace
  tripleo_common/utils/config.py
Due: none

Improve upload-swift-artifacts handling of json data
  scripts/upload-swift-artifacts
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Remove capabilities-map.yaml related checks from plan workflows
  workbooks/plan_management.yaml
Due: none

Make ()'s around step|int optional
  tripleo_common/utils/config.py
Due: none

Always convert to docker media format
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: workbooks/package_update.yaml, workbooks/baremetal.yaml, ^container-images/.*$, tripleo_common/actions/deployment.py, tripleo_common/actions/container_images.py, tripleo_common/image/kolla_builder.py, scripts/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py, scripts/tripleo-deploy-openshift
