Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario003-standalone, tripleo-ci-centos-8-scenario004-standalone, tripleo-ci-centos-8-scenario007-standalone, tripleo-ci-centos-8-scenario010-standalone, tripleo-buildimage-overcloud-full-centos-8, tripleo-buildimage-ironic-python-agent-centos-8, tripleo-buildimage-overcloud-hardened-full-centos-8

tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37

tripleo-ci-centos-8-scenario001-standalone:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37
  vars:
    build_container_images: true

tripleo-ci-centos-8-scenario003-standalone:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37
  vars:
    build_container_images: true

tripleo-ci-centos-8-scenario004-standalone:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37
  vars:
    build_container_images: true

tripleo-ci-centos-8-scenario007-standalone:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37
  vars:
    build_container_images: true

tripleo-ci-centos-8-scenario010-standalone:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37
  vars:
    build_container_images: true

Add collectd-libpod-stats to image
  container-images/tcib/base/collectd/collectd.yaml
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario001-standalone

Set PROFILE_TASKS_TASK_OUTPUT_LIMIT
  tripleo_common/actions/ansible.py
  tripleo_common/tests/actions/test_ansible.py
Due: none

Add neutron-mlnx-agent container image
  container-images/tcib/base/os/neutron-base/neutron-mlnx-agent/neutron-mlnx-agent.yaml
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario007-standalone

Include virt-admin in the nova_libvirt container
  container-images/tcib/base/os/nova-base/nova-libvirt/nova-libvirt.yaml
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Add --log-level debug for buildah builder
  tripleo_common/image/builder/buildah.py
  tripleo_common/tests/image/builder/test_buildah.py
Due: none

Fix lower-constraints errors
  lower-constraints.txt
  requirements.txt
Due: none

Adjust Ansible forks caculations
  tripleo_common/actions/ansible.py
  tripleo_common/tests/actions/test_ansible.py
Due: none

Run tripleo-build-containers-ubi-8 on BuildahBuilder code
  zuul.d/layout.yaml
Due: none

Update container build to better reign in threads
  tripleo_common/image/builder/buildah.py
  tripleo_common/tests/image/builder/test_buildah.py
Due: none

Support basic auth for image registry
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Move get network configs action to utils
  tripleo_common/actions/parameters.py
  tripleo_common/tests/actions/test_parameters.py
  tripleo_common/tests/utils/test_stack_parameters.py
  tripleo_common/utils/stack.py
  tripleo_common/utils/stack_parameters.py
Due: none

Also treat config as json(dict)
  tripleo_common/utils/config.py
Due: none

Lower default verbosity for ansible
  tripleo_common/actions/ansible.py
  tripleo_common/tests/actions/test_ansible.py
Due: none

Remove c7 containers multinode job
  zuul.d/layout.yaml
Due: none

[train-only] Remove duplicated standalone job
  zuul.d/layout.yaml
Due: none

Remove the base layers
  container-images/tripleo_containers.yaml
  container-images/tripleo_containers.yaml.j2
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Consume ceph, prom, grafana containers from quay.io
  container-images/container_image_prepare_defaults.yaml
  container-images/tripleo_containers.yaml
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Consume ceph, prom, grafana containers from quay.io
  container-images/container_image_prepare_defaults.yaml
  container-images/overcloud_containers.yaml
  container-images/tripleo_containers.yaml
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

overcloud status report the correct cd for the given plan
  tripleo_common/actions/deployment.py
  tripleo_common/tests/actions/test_deployment.py
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Don't render NetworkConfig for every node
  tripleo_common/tests/utils/test_config.py
  tripleo_common/utils/config.py
Due: none

Include swtpm in the nova_libvirt container
  container-images/tcib/base/os/nova-base/nova-libvirt/nova-libvirt.yaml
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

[Train] Check for existence of stack
  workbooks/access.yaml
Due: none

Switch to tripleo_containers.yaml
  container-images/container_image_prepare_defaults.yaml
  container-images/tripleo_containers.yaml
  container-images/tripleo_containers.yaml.j2
  releasenotes/notes/use-tripleo-containers-file-0590a59f56fb3907.yaml
  tripleo_common/actions/container_images.py
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/actions/test_container_images.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Get NetworkConfig from RoleNetworkConfigMap
  tripleo_common/tests/utils/test_config.py
  tripleo_common/utils/config.py
Due: none

Use the new IPA-builder element for installing python-hardware
  image-yaml/overcloud-images.yaml
Due: tripleo-buildimage-overcloud-full-centos-8, tripleo-buildimage-ironic-python-agent-centos-8, tripleo-buildimage-overcloud-hardened-full-centos-8

config-download: allow get_overcloud_config() to run without Swift
  tripleo_common/utils/config.py
Due: none

Change image_source from kolla to tripleo
  container-images/tripleo_containers.yaml
  container-images/tripleo_containers.yaml.j2
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Remove pull NetworkConfig from node-level
  tripleo_common/tests/fake_config/fakes.py
  tripleo_common/tests/utils/test_config.py
  tripleo_common/utils/config.py
Due: none

Improve bearer auth handling
  tripleo_common/image/image_uploader.py
  tripleo_common/utils/locks/base.py
  tripleo_common/utils/locks/processlock.py
  tripleo_common/utils/locks/threadinglock.py
Due: none

Lower ansible poll interval time
  tripleo_common/actions/ansible.py
Due: none

Path conditions:
  tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates: any of: workbooks/package_update.yaml, workbooks/baremetal.yaml, ^container-images/.*$, tripleo_common/actions/deployment.py, tripleo_common/actions/container_images.py, tripleo_common/image/kolla_builder.py, scripts/.*$
  tripleo-ci-centos-8-scenario001-standalone: any of: ^container-images/tcib/base/collectd.*$, ^container-images/tcib/base/os/aodh.*$, ^container-images/tcib/base/os/ceilometer.*$, ^container-images/tcib/base/os/cinder.*$, ^container-images/tcib/base/os/gnocchi.*$, ^container-images/tcib/base/os/heat.*$, ^container-images/tcib/base/qdrouterd.*$, ^container-images/tcib/base/rabbitmq.*$, ^container-images/tcib/base/redis.*$
  tripleo-ci-centos-8-scenario003-standalone: any of: ^container-images/tcib/base/os/designate.*$, ^container-images/tcib/base/os/mistral.*$, ^container-images/tcib/base/os/sahara.*$
  tripleo-ci-centos-8-scenario004-standalone: any of: ^container-images/tcib/base/os/manila.*$
  tripleo-ci-centos-8-scenario007-standalone: any of: ^container-images/tcib/base/os/neutron.*$
  tripleo-ci-centos-8-scenario010-standalone: any of: ^container-images/tcib/base/os/octavia.*$
  tripleo-buildimage-overcloud-full-centos-8: any of: ^image-yaml/.*$
  tripleo-buildimage-ironic-python-agent-centos-8: any of: ^image-yaml/.*$
  tripleo-buildimage-overcloud-hardened-full-centos-8: any of: ^image-yaml/.*$
