Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

zuul.d/layout.yaml:

- project:
    templates:
      - tripleo-undercloud-jobs
      - tripleo-multinode-baremetal-minimal
      - tripleo-multinode-container-minimal
    check:
      jobs:
        - tripleo-ci-centos-7-scenario001-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario002-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario003-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario004-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
            files:
              - workbooks/package_update.yaml
              - workbooks/baremetal.yaml
              - ^container-images/.*$
              - tripleo_common/actions/deployment.py
    gate:
      queue: tripleo
      jobs:
        - tripleo-ci-centos-7-scenario001-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario002-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario003-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario004-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
            files:
              - workbooks/package_update.yaml
              - workbooks/baremetal.yaml
              - ^container-images/.*$
              - tripleo_common/actions/deployment.py

Set trash_output for ceph-ansible playbook run
  workbooks/ceph-ansible.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Fix Plan creation from Git
  workbooks/plan_management.yaml
Due: none

ansible: replace yum module by package module when possible
  playbooks/roles/octavia-undercloud/tasks/main.yml
  roles/tripleo-bootstrap/defaults/main.yml
  roles/tripleo-bootstrap/tasks/main.yml
Due: none

Avoid getting one-empty-element-list in blacklisted_hostnames.
  workbooks/deployment.yaml
Due: none

Add 'podman' rpm to base_centos containers
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add missing urllib3 test dep
  test-requirements.txt
Due: none

Honor blacklist with enable_ssh_admin
  releasenotes/notes/enable-ssh-admin-honor-blacklist-f1371554ab1b38f6.yaml
  workbooks/access.yaml
  workbooks/deployment.yaml
Due: none

Add novajoin package to nova-compute image
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Set known hosts when --limit is set.
  roles/tripleo-ssh-known-hosts/tasks/main.yml
  roles/tripleo-ssh-known-hosts/templates/ssh_known_hosts.j2
Due: none

Remove container_registry param from package update action
  tripleo_common/actions/package_update.py
  tripleo_common/tests/actions/test_package_update.py
  workbooks/package_update.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Remove container_registry parameter from update workflows
  workbooks/package_update.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Fix overwriting downloaded config files
  tripleo_common/utils/config.py
Due: none

Rename argument back to append_tag
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: none

Use https for novnc proxy healthcheck if ssl_only is configured
  healthcheck/nova-vnc-proxy
  releasenotes/notes/nova_novnc_proxy_ssl_healthcheck-f9ad0dffb459ef4b.yaml
Due: none

Remove ceph-osd and update other Ceph packages if deployment succeeded
  workbooks/ceph-ansible.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Add missing service for DockerCinderVolumeImage
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add support for custom validations
  tripleo_common/actions/validations.py
  tripleo_common/constants.py
  tripleo_common/tests/actions/test_validations.py
  tripleo_common/tests/utils/test_validations.py
  tripleo_common/utils/swift.py
  tripleo_common/utils/validations.py
  workbooks/validations.yaml
Due: none

Add container_image_prepare_params to deployment workflow
  workbooks/deployment.yaml
Due: none

Support push_destination:true in prepare
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: none

Revert "Remove ceph-osd and update other Ceph packages if deployment succeeded"
  workbooks/ceph-ansible.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Remove ceph-osd after deployment succeeded in containers
  workbooks/ceph-ansible.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Revert "Include microversion in OS_VOLUME_API_VERSION"
  tripleo_common/constants.py
Due: none

Clean up node registration output.
  workbooks/baremetal.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

ensure unique ironic node ID with UCS driver
  releasenotes/notes/ironic-ucs-driver-node-uniqueness-fix-c74110a9728d1023.yaml
  tripleo_common/tests/utils/test_nodes.py
  tripleo_common/utils/nodes.py
Due: none

Move python-novajoin package to nova-compute-ironic
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Ensure all image parameters have a default set
  tripleo_common/actions/container_images.py
  tripleo_common/tests/actions/test_container_images.py
Due: none

nova_metadata healthcheck script
  healthcheck/nova-metadata
  releasenotes/notes/nova_metadata_healthcheck-44a9b0a1f436826a.yaml
Due: none

Open tarball in binary mode
  tripleo_common/utils/tarball.py
Due: none

Update README to pass RST strict test
  README.rst
Due: none

Update .gitreview for stable/rocky
  .gitreview
Due: none

Update UPPER_CONSTRAINTS_FILE for stable/rocky
  tox.ini
Due: none

Update reno for stable/rocky
  releasenotes/source/index.rst
  releasenotes/source/rocky.rst
Due: none

Adjust tenacity mock
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Update error string to be unicode
  tripleo_common/image/image_uploader.py
Due: none

Drop version from OS_AUTH_URL
  releasenotes/notes/overcloudrc-versionless-keystone-endpoint-9cdc1a4e1341a933.yaml
  tripleo_common/tests/utils/test_overcloudrc.py
  tripleo_common/utils/overcloudrc.py
Due: none

Do not require username/password when enrolling Redfish nodes
  tripleo_common/tests/utils/test_nodes.py
  tripleo_common/utils/nodes.py
Due: none

Switch to openshift 3.10
  container-images/overcloud_containers.yaml
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Simplify tenacity sleep mocking
  tripleo_common/tests/image/test_image_uploader.py
Due: none
