Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Fix heat api cfn healthcheck
  healthcheck/heat-api-cfn
Due: none

Increase services project secgroup-rules quotas when deploying Octavia
  playbooks/roles/octavia-overcloud-config/tasks/quotas.yml
Due: none

Migrate to the new Mistral context class
  tripleo_common/actions/ansible.py
  tripleo_common/actions/base.py
  tripleo_common/tests/actions/test_base.py
  tripleo_common/tests/actions/test_templates.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Remove extra parenthesis from container-update.py
  scripts/container-update.py
Due: none

Add ssh_network input
  tripleo_common/actions/ansible.py
  workbooks/deployment.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Create config-download-latest symlink
  tripleo_common/actions/config.py
  tripleo_common/tests/actions/test_config.py
Due: none

Ansible json error callback plugin
  ansible_plugins/callback/json_error.py
  setup.cfg
  tripleo_common/constants.py
Due: none

Workflow and action for deployment failures
  setup.cfg
  tripleo_common/actions/deployment.py
  tripleo_common/constants.py
  tripleo_common/tests/actions/test_deployment.py
  workbooks/deployment.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Fix readme doc
  README.rst
Due: none

Deploy ceph-ansible in mistral containers
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Use correct modify_append_tag key
  tripleo_common/image/image_uploader.py
Due: none

Lowercase any hostname comparisons in bootstrap_* scripts
  scripts/bootstrap_host_exec
  scripts/bootstrap_host_only_eval
  scripts/bootstrap_host_only_exec
Due: none

Ignore errors when checking result of previous deployments
  tripleo_common/templates/deployments.yaml
Due: none

overcloud: include openssh element
  image-yaml/overcloud-hardened-images.yaml
  image-yaml/overcloud-images.yaml
  image-yaml/overcloud-realtime-compute.yaml
Due: none

Add docker packages to OVN metadata agent container
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Get deployment_stack_id via deployment_ref for config download
  tripleo_common/utils/config.py
Due: none

Add a 'trash_output' flag to ansible playbook action
  tripleo_common/actions/ansible.py
  workbooks/package_update.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Use the standard messaging in the plan_management workbook
  workbooks/plan_management.yaml
Due: none

Use the standard messaging in the validations workbook
  workbooks/validations.yaml
Due: none

Use the standard messaging in the swift_rings_backup workbook
  workbooks/swift_rings_backup.yaml
Due: none

Add recover_deployment workflow
  setup.cfg
  tripleo_common/actions/deployment.py
  tripleo_common/tests/actions/test_deployment.py
  workbooks/deployment.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Remove the output from the heat.stacks_get action result
  workbooks/stack.yaml
Due: none

Add keystone only job for queens
  zuul.d/layout.yaml
Due: none

Optimize horizon URI retrieval
  workbooks/deployment.yaml
Due: none

ensure unique ironic node ID with UCS driver
  releasenotes/notes/ironic-ucs-driver-node-uniqueness-fix-c74110a9728d1023.yaml
  tripleo_common/tests/utils/test_nodes.py
  tripleo_common/utils/nodes.py
Due: none

Add health check for OVN containers
  healthcheck/common.sh
  healthcheck/ovn-controller
  healthcheck/ovn-dbs
Due: none

Pass DockerCephDaemonImage to CephMgr
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add experimental job for OpenShift deployment
  zuul.d/layout.yaml
Due: none

Run container jobs on kolla_builder changes
  zuul.d/layout.yaml
Due: none

Order jobs by number
  zuul.d/layout.yaml
Due: none

Whitelist k8s and OpenShift services as containerized
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: none

Add container images needed for OpenShift
  container-images/overcloud_containers.yaml
  container-images/overcloud_containers.yaml.j2
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Do not explode on empty containers list
  scripts/container-update.py
Due: none

Pass container and queue_name inputs to the list_available_roles workflow
  releasenotes/notes/fix-update-roles-workflow-with-custom-overcloud-names-35404ceae3ac380e.yaml
  workbooks/plan_management.yaml
Due: none

Set the initial introspection attempt to 0
  workbooks/baremetal.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

fix tox python3 overrides
  tox.ini
Due: none

Improve ssh connection handling
  tripleo_common/actions/ansible.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

UpdatePlanEnvironmentAction enable overwrite or merge
  tripleo_common/actions/plan.py
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: workbooks/ceph-ansible.yaml, ^container-images/.*$, tripleo_common/actions/ansible.py
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^container-images/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^container-images/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: workbooks/ceph-ansible.yaml, ^container-images/.*$, tripleo_common/actions/ansible.py
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^container-images/.*$
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: workbooks/package_update.yaml, workbooks/baremetal.yaml, ^container-images/.*$, tripleo_common/actions/deployment.py
