Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

zuul.d/layout.yaml:

- project:
    templates:
      - tripleo-undercloud-jobs
      - tripleo-multinode-baremetal-minimal
      - tripleo-multinode-container-minimal
    check:
      jobs:
        - tripleo-ci-centos-7-scenario001-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario002-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario003-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario004-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
            files:
              - workbooks/package_update.yaml
              - workbooks/baremetal.yaml
              - ^container-images/.*$
              - tripleo_common/actions/deployment.py
    gate:
      queue: tripleo
      jobs:
        - tripleo-ci-centos-7-scenario001-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario002-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario003-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario004-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
            files:
              - workbooks/package_update.yaml
              - workbooks/baremetal.yaml
              - ^container-images/.*$
              - tripleo_common/actions/deployment.py

Set deployment status to UNDEPLOYED on plan creation
  workbooks/plan_management.yaml
Due: none

Copy deployments.yaml to top level config-dir
  tripleo_common/utils/config.py
Due: none

Don't return image tags during dry_run=True
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Use correct modify_append_tag key (again)
  tripleo_common/image/kolla_builder.py
Due: none

Add dbus-python to overcloud-full image
  image-yaml/overcloud-images.yaml
Due: none

Add health checks for Swift services
  healthcheck/common.sh
  healthcheck/swift-account-server
  healthcheck/swift-container-server
  healthcheck/swift-object-expirer
  healthcheck/swift-object-server
  healthcheck/swift-proxy
  healthcheck/swift-rsync
Due: none

Write to /etc/ssh with super user privileges
  roles/tripleo-ssh-known-hosts/tasks/main.yml
Due: none

enable the update job on scripts/* changes
  zuul.d/layout.yaml
Due: none

Verify host_vars and group_vars are valid yaml
  tripleo_common/tests/utils/test_config.py
  tripleo_common/utils/config.py
Due: none

Delete messages container on plan deletion
  tripleo_common/actions/plan.py
Due: none

Stop assuming all containers are plans
  tripleo_common/tests/utils/test_swift.py
  tripleo_common/utils/swift.py
Due: none

Adds no_proxy input to create_overcloudrc workflow
  workbooks/deployment.yaml
Due: none

ensure the updates workflow checks container changes
  zuul.d/layout.yaml
Due: none

kolla_builder: use any templates except puppet
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: none

scen007 is failing in the gate
  zuul.d/layout.yaml
Due: none

Revert "scen007 is failing in the gate"
  zuul.d/layout.yaml
Due: none

Don't resolve outputs when getting stacks
  workbooks/stack.yaml
  workbooks/validations.yaml
Due: none

Revert "Revert "Pass connection info via ansible config file""
  tripleo_common/actions/ansible.py
  tripleo_common/tests/actions/test_ansible.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Install python2-networking-ansible in neutron-server
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add XClarity in the list of supported hw types
  tripleo_common/tests/utils/test_nodes.py
  tripleo_common/utils/nodes.py
Due: none

Add workflow for uploading validations to Swift
  workbooks/validations.yaml
Due: none

Add mistral job to rotate passwords on the overcloud
  tripleo_common/actions/parameters.py
  tripleo_common/constants.py
  tripleo_common/tests/actions/test_parameters.py
  tripleo_common/utils/passwords.py
  workbooks/plan_management.yaml
Due: none

Use the standard messaging in the package_update workbook
  workbooks/package_update.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Use the standard messaging in the plan_management workbook
  workbooks/plan_management.yaml
Due: none

Provide timestamps in Ansible output by default
  tripleo_common/actions/ansible.py
  tripleo_common/tests/actions/test_ansible.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Use the standard messaging in the scale workbook
  workbooks/scale.yaml
Due: none

Use the standard messaging in the undercloud_backup workbook
  workbooks/undercloud_backup.yaml
Due: none

Use the standard messaging in the stack workbook
  workbooks/stack.yaml
Due: none

Use the standard messaging in the baremetal workbook
  workbooks/baremetal.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add security hardened images that can boot from uefi
  image-yaml/overcloud-hardened-images-uefi-centos7.yaml
  image-yaml/overcloud-hardened-images-uefi-rhel7.yaml
  image-yaml/overcloud-hardened-images-uefi.yaml
Due: none

Force lowercase hostnames
  tripleo_common/inventory.py
  tripleo_common/templates/deployments.yaml
  tripleo_common/utils/config.py
Due: none

Workflow for configuring BIOS settings to ironic nodes
  workbooks/baremetal.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Use the standard messaging in the parameters workbook
  workbooks/parameters.yaml
Due: none

Use upstream etcd container image for openshift
  container-images/overcloud_containers.yaml
  container-images/overcloud_containers.yaml.j2
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Use the standard messaging in the support workbook
  workbooks/support.yaml
Due: none

Pass DockerCephDaemonImage to CephMgr
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Include --xattrs when creating the undercloud backup.
  tripleo_common/actions/undercloud.py
  tripleo_common/tests/actions/test_undercloud.py
Due: none

Add openshift sti-builder image
  container-images/overcloud_containers.yaml
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates
