Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

zuul.d/layout.yaml:

- project:
    templates:
      - tripleo-undercloud-jobs
      - tripleo-multinode-baremetal-minimal
      - tripleo-multinode-container-minimal
      - check-requirements
      - publish-openstack-sphinx-docs
      - openstack-python-jobs
      - openstack-python35-jobs
      - release-notes-jobs
    check:
      jobs:
        - tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
            voting: true
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario001-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario002-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario003-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario004-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - openstack-tox-cover:
            voting: false

    gate:
      queue: tripleo
      jobs:
        - tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
            voting: true
            files:
              - ^container-images/.*$

Address python3 string issues with subprocess
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Use the yaml stdout_callback for better prepare logging
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

overcloud_containers.yaml.j2: remove unused *-base entry
  container-images/overcloud_containers.yaml
  container-images/overcloud_containers.yaml.j2
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Bump the Ceph container image to 3.2.1
  container-images/container_image_prepare_defaults.yaml
  container-images/overcloud_containers.yaml
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Publish error for package_update workflow
  workbooks/package_update.yaml
Due: none

Break out tripleo-admin creation to its own role
  releasenotes/notes/tripleo-create-admin-0ce59d13ce2c07f6.yaml
  roles/tripleo-create-admin/README.md
  roles/tripleo-create-admin/defaults/main.yml
  roles/tripleo-create-admin/tasks/authorize_user.yml
  roles/tripleo-create-admin/tasks/create_user.yml
  roles/tripleo-create-admin/tasks/main.yml
  workbooks/access.yaml
Due: none

Remove placement healthcheck from overrides
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Publish a better failure message for Update Ansible
  workbooks/package_update.yaml
Due: none

Bump the Ceph container image to 3.2.1
  container-images/overcloud_containers.yaml
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Make the image pulling optional for tripleo-container-tag role.
  roles/tripleo-container-tag/README.md
  roles/tripleo-container-tag/defaults/main.yaml
  roles/tripleo-container-tag/tasks/main.yaml
Due: none

Revert "Remove placement healthcheck from overrides"
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

rabbitmq-server workaround
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Make python uploader the default
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Update tox min version to 2.0
  tox.ini
Due: none

Remove docker/podman from mistral-executor
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Authorize undercloud tripleo-admin user
  workbooks/access.yaml
Due: none

Use ssh in generated inventory for undercloud
  tripleo_common/inventory.py
  tripleo_common/tests/test_inventory.py
Due: none

Remove python-notario package from mistral-executor image
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Append rabbitmq_packages_append contents
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Export images to be served by httpd
  tripleo_common/image/image_export.py
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_export.py
Due: none

Handle case change for dmidecode >= 3.1 in ceph-ansible workbook
  workbooks/ceph-ansible.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Enable placement-api health check
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fixes OVN docker image prep with Neutron
  container-images/overcloud_containers.yaml.j2
  releasenotes/notes/ovn-image-prepare-neutron-server-abb60292341b5782.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

fix if statement compare strings with -gt
  healthcheck/common.sh
Due: none

image_uplaoder: add retry to _layer_stream_registry
  tripleo_common/image/image_uploader.py
Due: none

Handle uncompressed layers on image export
  tripleo_common/image/image_export.py
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_export.py
Due: none

Role to install apache to serve container images
  roles/tripleo-image-serve/README.md
  roles/tripleo-image-serve/defaults/main.yml
  roles/tripleo-image-serve/handlers/main.yml
  roles/tripleo-image-serve/tasks/main.yml
  roles/tripleo-image-serve/templates/image-serve.conf.j2
Due: none

Add missing queue_name input parameter for listing validations
  workbooks/validations.yaml
Due: none

Don't fail tripleo-bootstrap on package installs
  image-yaml/overcloud-hardened-images-uefi.yaml
  image-yaml/overcloud-hardened-images.yaml
  image-yaml/overcloud-odl-rhel7.yaml
  releasenotes/notes/dont-fail-tripleo-bootstrap-on-package-install-a00cd921b0af7168.yaml
  roles/tripleo-bootstrap/tasks/main.yml
Due: none

Cleanup old MariaDB cruft from override file
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix a trailing space
  roles/tripleo-image-serve/templates/image-serve.conf.j2
Due: none

Support for Buildah in kolla_builder
  releasenotes/notes/buildah_build-727eb0f35f819731.yaml
  tripleo_common/constants.py
  tripleo_common/image/builder/__init__.py
  tripleo_common/image/builder/base.py
  tripleo_common/image/builder/buildah.py
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/builder/__init__.py
  tripleo_common/tests/image/builder/test_buildah.py
  tripleo_common/tests/image/test_kolla_builder.py
  tripleo_common/tests/utils/test_process.py
  tripleo_common/utils/process.py
Due: none

image-serve: improve vhost config
  roles/tripleo-image-serve/templates/image-serve.conf.j2
Due: none

Don't rely on crudini for octavia config
  playbooks/roles/octavia-controller-post-config/tasks/main.yml
Due: none

Skip deployments with no uuid
  tripleo_common/tests/utils/test_config.py
  tripleo_common/utils/config.py
Due: none

image-serve: add httpd_sys_content_t type to image_data_dir
  roles/tripleo-image-serve/tasks/main.yml
Due: none

Introduce a --plan option to replace --config-download-dir
  releasenotes/notes/tripleo-deploy-openshift-plan-name-89135e3a68307047.yaml
  scripts/tripleo-deploy-openshift
Due: none
