Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

zuul.d/layout.yaml:

- project:
    templates:
      - tripleo-undercloud-jobs
      - tripleo-multinode-baremetal-minimal
      - tripleo-multinode-container-minimal
    check:
      jobs:
        - tripleo-ci-centos-7-scenario001-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario002-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario003-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario004-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
            files:
              - workbooks/package_update.yaml
              - workbooks/baremetal.yaml
              - ^container-images/.*$
              - tripleo_common/actions/deployment.py
    gate:
      queue: tripleo
      jobs:
        - tripleo-ci-centos-7-scenario001-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario002-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario003-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario004-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
            files:
              - workbooks/package_update.yaml
              - workbooks/baremetal.yaml
              - ^container-images/.*$
              - tripleo_common/actions/deployment.py

Install ironic-staging-drivers in ironic-conductor
  container-images/tripleo_kolla_template_overrides.j2
  releasenotes/notes/append-ironic-staging-drivers-d278905bb1ec0683.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add advanced deployment options
  tripleo_common/actions/ansible.py
  tripleo_common/inventory.py
  tripleo_common/tests/test_inventory.py
  workbooks/deployment.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Remove configs parameter from TripleoInventory
  releasenotes/notes/drop-inventory-config-support-c2132b897da2d290.yaml
  tripleo_common/inventory.py
  tripleo_common/tests/test_inventory.py
Due: none

Set SSH server keep alive options
  releasenotes/notes/set-ssh-server-keep-alive-options-071e1b3b570e78a7.yaml
  tripleo_common/actions/ansible.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Cache swift responses in process_environments_and_files
  tripleo_common/utils/plan.py
Due: none

Omit grep process in nova_api healthcheck.
  healthcheck/nova-api
Due: none

Fix nova-api healthcheck
  healthcheck/nova-api
Due: none

Select message IDs properly when publishing to swift
  workbooks/plan_management.yaml
Due: none

Exit when container is missing or empty when downloading logs
  workbooks/plan_management.yaml
Due: none

Don't resolve Heat stack output when unnecessary
  tripleo_common/actions/deployment.py
  tripleo_common/actions/plan.py
  tripleo_common/tests/actions/test_plan.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Catch heat exceptions in DeployStackAction
  tripleo_common/actions/deployment.py
  tripleo_common/tests/actions/test_deployment.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Fix rotate_fernet_keys workflow to not use heat deployment
  workbooks/fernet-key-rotate.yaml
  workbooks/swift_ring_rebalance.yaml
Due: none

Simplify logic in docker detection for docker-rm role
  roles/tripleo-docker-rm/tasks/main.yaml
Due: none

Use stestr for unit tests
  .gitignore
  .stestr.conf
  .testr.conf
  test-requirements.txt
  tox.ini
Due: none

Stop setting boot_option=local on ironic nodes
  tripleo_common/actions/baremetal.py
  tripleo_common/tests/actions/test_baremetal.py
  workbooks/baremetal.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Correct handling of capabilities on node update
  releasenotes/notes/caps-fix-f6f8817a48fa5c25.yaml
  tripleo_common/tests/utils/test_nodes.py
  tripleo_common/utils/nodes.py
Due: none

Do not fail deploy for empty ceph ansible fetch directory
  tripleo_common/actions/files.py
Due: none

Update swift_backup workflow success status message
  workbooks/swift_backup.yaml
Due: none

Persist region name in overcloudrc
  tripleo_common/actions/deployment.py
  tripleo_common/tests/utils/test_overcloudrc.py
  tripleo_common/utils/overcloudrc.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Generating fencing for capitalized MACs
  tripleo_common/actions/parameters.py
Due: none

Bump the Ceph container image to 3.2.0
  container-images/container_image_prepare_defaults.yaml
  container-images/overcloud_containers.yaml
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add tripleoclient container
  container-images/overcloud_containers.yaml
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Rename tripleo-ci-centos-7-scenario009-multinode-oooq
  zuul.d/layout.yaml
Due: none

Rename tripleo-ci-centos-7-scenario009-multinode-oooq (rocky)
  zuul.d/layout.yaml
Due: none

Stop installing octavia-amphora-image package
  playbooks/roles/octavia-undercloud/tasks/main.yml
  releasenotes/notes/stop-octavia-amphora-image-install-5d26e3d37c7b508f.yaml
  sudoers
Due: none

Set DeployIdentifier on update/upgrade/ffwd prepare actions
  tripleo_common/actions/package_update.py
  tripleo_common/tests/actions/test_package_update.py
Due: none

Specify python interpreter for undercloud
  tripleo_common/inventory.py
  tripleo_common/tests/test_inventory.py
Due: none

image_uploader: use /v2 suffix to validate SSL
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Fix AnsibleAction.run() when argument is not a dict
  tripleo_common/actions/ansible.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Fix non-exiting link to TripleO-common bugs
  CONTRIBUTING.rst
Due: none
