Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario003-standalone, tripleo-ci-centos-8-scenario004-standalone, tripleo-ci-centos-8-scenario007-standalone, tripleo-ci-centos-8-scenario010-standalone, tripleo-buildimage-overcloud-full-centos-8, tripleo-buildimage-ironic-python-agent-centos-8, tripleo-buildimage-overcloud-hardened-full-centos-8

tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37

tripleo-ci-centos-8-scenario001-standalone:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37
  vars:
    build_container_images: true

tripleo-ci-centos-8-scenario003-standalone:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37
  vars:
    build_container_images: true

tripleo-ci-centos-8-scenario004-standalone:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37
  vars:
    build_container_images: true

tripleo-ci-centos-8-scenario007-standalone:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37
  vars:
    build_container_images: true

tripleo-ci-centos-8-scenario010-standalone:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37
  vars:
    build_container_images: true

Add exponential backoff to ratelimited requests
  tripleo_common/image/exception.py
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Ensure tripleo ansible inventory file update is atomic
  tripleo_common/inventories.py
  tripleo_common/inventory.py
Due: none

Correct the inventory generation
  tripleo_common/inventories.py
  tripleo_common/tests/inventory_data/merged_dynamic.json
  tripleo_common/tests/inventory_data/merged_static.yaml
  tripleo_common/tests/inventory_data/single_dynamic.json
  tripleo_common/tests/inventory_data/single_static.yaml
  tripleo_common/tests/test_inventories.py
  tripleo_common/tests/test_inventory.py
Due: none

Correct the inventory generation
  tripleo_common/inventories.py
  tripleo_common/tests/inventory_data/merged_dynamic.json
  tripleo_common/tests/inventory_data/merged_static.yaml
  tripleo_common/tests/inventory_data/single_dynamic.json
  tripleo_common/tests/inventory_data/single_static.yaml
  tripleo_common/tests/test_inventories.py
Due: none

Ensure image files are readable to apache
  tripleo_common/image/image_export.py
  tripleo_common/tests/image/test_image_export.py
Due: none

Switch to use virt:8.3 for non-kolla container builds
  container-images/tcib/base/collectd/collectd.yaml
  container-images/tcib/base/os/ceilometer-base/ceilometer-central/ceilometer-central.yaml
  container-images/tcib/base/os/ceilometer-base/ceilometer-compute/ceilometer-compute.yaml
  container-images/tcib/base/os/ceilometer-base/ceilometer-ipmi/ceilometer-ipmi.yaml
  container-images/tcib/base/os/cinder-base/cinder-base.yaml
  container-images/tcib/base/os/glance-api/glance-api.yaml
  container-images/tcib/base/os/ironic-base/ironic-conductor/ironic-conductor.yaml
  container-images/tcib/base/os/mistral-base/mistral-executor/mistral-executor.yaml
  container-images/tcib/base/os/nova-base/nova-compute-ironic/nova-compute-ironic.yaml
  container-images/tcib/base/os/nova-base/nova-compute/nova-compute.yaml
  container-images/tcib/base/os/nova-base/nova-libvirt/nova-libvirt.yaml
  container-images/tcib/base/os/nova-base/nova-scheduler/nova-scheduler.yaml
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario003-standalone

Make build_timeout configurable
  tripleo_common/image/builder/buildah.py
Due: none

[TRAIN-Only] Dynamically add centos8 namespace
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Don't build image upload tasks when dry_run=True
  tripleo_common/image/image_uploader.py
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_image_uploader.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Restore default log path for image prepare
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Remove check for ./puppet/services when filtering services
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

(backward compatibility) create kolla UIDs/GIDs for TCIB
  container-images/kolla/base/uid_gid_manage.sh
  container-images/tcib/base/base.yaml
  container-images/tcib/base/collectd/collectd.yaml
  container-images/tcib/base/etcd/etcd.yaml
  container-images/tcib/base/mariadb/mariadb.yaml
  container-images/tcib/base/memcached/memcached.yaml
  container-images/tcib/base/os/aodh-base/aodh-base.yaml
  container-images/tcib/base/os/barbican-base/barbican-base.yaml
  container-images/tcib/base/os/ceilometer-base/ceilometer-base.yaml
  container-images/tcib/base/os/cinder-base/cinder-base.yaml
  container-images/tcib/base/os/designate-base/designate-base.yaml
  container-images/tcib/base/os/glance-api/glance-api.yaml
  container-images/tcib/base/os/gnocchi-base/gnocchi-base.yaml
  container-images/tcib/base/os/heat-base/heat-base.yaml
  container-images/tcib/base/os/ironic-base/ironic-base.yaml
  container-images/tcib/base/os/ironic-base/ironic-inspector/ironic-inspector.yaml
  container-images/tcib/base/os/keystone/keystone.yaml
  container-images/tcib/base/os/manila-base/manila-base.yaml
  container-images/tcib/base/os/mistral-base/mistral-base.yaml
  container-images/tcib/base/os/neutron-base/neutron-base.yaml
  container-images/tcib/base/os/nova-base/nova-base.yaml
  container-images/tcib/base/os/nova-base/nova-compute-ironic/nova-compute-ironic.yaml
  container-images/tcib/base/os/nova-base/nova-compute/nova-compute.yaml
  container-images/tcib/base/os/novajoin-base/novajoin-base.yaml
  container-images/tcib/base/os/octavia-base/octavia-base.yaml
  container-images/tcib/base/os/swift-base/swift-base.yaml
  container-images/tcib/base/os/tempest/tempest.yaml
  container-images/tcib/base/qdrouterd/qdrouterd.yaml
  container-images/tcib/base/rabbitmq/rabbitmq.yaml
  container-images/tcib/base/redis/redis.yaml
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario003-standalone, tripleo-ci-centos-8-scenario004-standalone, tripleo-ci-centos-8-scenario007-standalone, tripleo-ci-centos-8-scenario010-standalone

Ensure atomic inventory file rename runs on the same mountpoint
  tripleo_common/inventories.py
  tripleo_common/inventory.py
Due: none

Adding back overcloud-secure as it removes unsafe packages
  image-yaml/overcloud-hardened-images-python3.yaml
  image-yaml/overcloud-hardened-images-uefi-python3.yaml
  image-yaml/overcloud-hardened-images-uefi.yaml
  image-yaml/overcloud-hardened-images.yaml
Due: tripleo-buildimage-overcloud-full-centos-8, tripleo-buildimage-ironic-python-agent-centos-8, tripleo-buildimage-overcloud-hardened-full-centos-8

Scan existing controllers on update to pick up existing certs/private keys
  playbooks/octavia-files.yaml
  playbooks/roles/octavia-controller-check/meta/main.yml
  playbooks/roles/octavia-controller-check/tasks/main.yml
  playbooks/roles/octavia-controller-config/tasks/main.yml
  playbooks/roles/octavia-overcloud-config/tasks/check_existing_certs.yml
  playbooks/roles/octavia-overcloud-config/tasks/main.yml
  workbooks/octavia_post.yaml
Due: none

Increase validity period of Octavia CA and certificates
  playbooks/roles/octavia-controller-check/tasks/main.yml
  playbooks/roles/octavia-overcloud-config/tasks/certs_gen.yml
  playbooks/roles/octavia-overcloud-config/tasks/check_existing_certs.yml
  playbooks/roles/octavia-overcloud-config/tasks/main.yml
Due: none

Add modify_only_with_source
  releasenotes/notes/container-image-prepare-modify_only_with_source-d9be8cc7236e7c94.yaml
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Fix config parser warning
  tripleo_common/actions/ansible.py
Due: none

TCIB: move RHEL modules into base image
  container-images/tcib/base/base.yaml
  container-images/tcib/base/collectd/collectd.yaml
  container-images/tcib/base/mariadb/mariadb.yaml
  container-images/tcib/base/os/ceilometer-base/ceilometer-central/ceilometer-central.yaml
  container-images/tcib/base/os/ceilometer-base/ceilometer-compute/ceilometer-compute.yaml
  container-images/tcib/base/os/ceilometer-base/ceilometer-ipmi/ceilometer-ipmi.yaml
  container-images/tcib/base/os/cinder-base/cinder-base.yaml
  container-images/tcib/base/os/glance-api/glance-api.yaml
  container-images/tcib/base/os/ironic-base/ironic-conductor/ironic-conductor.yaml
  container-images/tcib/base/os/mistral-base/mistral-executor/mistral-executor.yaml
  container-images/tcib/base/os/neutron-base/neutron-agent-base/neutron-agent-base.yaml
  container-images/tcib/base/os/nova-base/nova-compute-ironic/nova-compute-ironic.yaml
  container-images/tcib/base/os/nova-base/nova-compute/nova-compute.yaml
  container-images/tcib/base/os/nova-base/nova-libvirt/nova-libvirt.yaml
  container-images/tcib/base/os/nova-base/nova-scheduler/nova-scheduler.yaml
  container-images/tcib/base/redis/redis.yaml
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario003-standalone, tripleo-ci-centos-8-scenario007-standalone

tcib: rename kolla_version to tcib_managed
  container-images/tcib/base/base.yaml
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

tcib: move cradox to gnocchi-base & enable ci on scenario001
  container-images/kolla/base/uid_gid_manage.sh
  container-images/tcib/base/os/gnocchi-base/gnocchi-api/gnocchi-api.yaml
  container-images/tcib/base/os/gnocchi-base/gnocchi-base.yaml
  container-images/tcib/base/os/panko-api/panko-api.yaml
  container-images/tripleo_containers.yaml
  zuul.d/layout.yaml
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario001-standalone

container-images: add librados2 to gnocchi-base
  container-images/tcib/base/os/gnocchi-base/gnocchi-base.yaml
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario001-standalone

TCIB: add python3-pynacl to mariadb image
  container-images/tcib/base/mariadb/mariadb.yaml
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

TCIB: add etcd user to the kolla group
  container-images/tcib/base/etcd/etcd.yaml
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Switch to tripleo_containers.yaml
  container-images/container_image_prepare_defaults.yaml
  container-images/tripleo_containers.yaml
  container-images/tripleo_containers.yaml.j2
  releasenotes/notes/use-tripleo-containers-file-0590a59f56fb3907.yaml
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
  tripleo_common/tests/utils/test_plan.py
  tripleo_common/utils/plan.py
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

[squash] Backport RHEL modules into base image
  container-images/tcib/base/base.yaml
  container-images/tcib/base/collectd/collectd.yaml
  container-images/tcib/base/mariadb/mariadb.yaml
  container-images/tcib/base/os/ceilometer-base/ceilometer-central/ceilometer-central.yaml
  container-images/tcib/base/os/ceilometer-base/ceilometer-compute/ceilometer-compute.yaml
  container-images/tcib/base/os/ceilometer-base/ceilometer-ipmi/ceilometer-ipmi.yaml
  container-images/tcib/base/os/cinder-base/cinder-base.yaml
  container-images/tcib/base/os/glance-api/glance-api.yaml
  container-images/tcib/base/os/ironic-base/ironic-conductor/ironic-conductor.yaml
  container-images/tcib/base/os/mistral-base/mistral-executor/mistral-executor.yaml
  container-images/tcib/base/os/neutron-base/neutron-agent-base/neutron-agent-base.yaml
  container-images/tcib/base/os/nova-base/nova-compute-ironic/nova-compute-ironic.yaml
  container-images/tcib/base/os/nova-base/nova-compute/nova-compute.yaml
  container-images/tcib/base/os/nova-base/nova-libvirt/nova-libvirt.yaml
  container-images/tcib/base/os/nova-base/nova-scheduler/nova-scheduler.yaml
  container-images/tcib/base/redis/redis.yaml
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario003-standalone, tripleo-ci-centos-8-scenario007-standalone

Wait for lock release during power state change
  workbooks/baremetal.yaml
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Path conditions:
  tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates: any of: workbooks/package_update.yaml, workbooks/baremetal.yaml, ^container-images/.*$, tripleo_common/actions/deployment.py, tripleo_common/actions/container_images.py, tripleo_common/image/kolla_builder.py, scripts/.*$
  tripleo-ci-centos-8-scenario001-standalone: any of: ^container-images/tcib/base/collectd.*$, ^container-images/tcib/base/os/aodh.*$, ^container-images/tcib/base/os/ceilometer.*$, ^container-images/tcib/base/os/cinder.*$, ^container-images/tcib/base/os/gnocchi.*$, ^container-images/tcib/base/os/heat.*$, ^container-images/tcib/base/qdrouterd.*$, ^container-images/tcib/base/rabbitmq.*$, ^container-images/tcib/base/redis.*$
  tripleo-ci-centos-8-scenario003-standalone: any of: ^container-images/tcib/base/os/designate.*$, ^container-images/tcib/base/os/mistral.*$, ^container-images/tcib/base/os/sahara.*$
  tripleo-ci-centos-8-scenario004-standalone: any of: ^container-images/tcib/base/os/manila.*$
  tripleo-ci-centos-8-scenario007-standalone: any of: ^container-images/tcib/base/os/neutron.*$
  tripleo-ci-centos-8-scenario010-standalone: any of: ^container-images/tcib/base/os/octavia.*$
  tripleo-buildimage-overcloud-full-centos-8: any of: ^image-yaml/.*$
  tripleo-buildimage-ironic-python-agent-centos-8: any of: ^image-yaml/.*$
  tripleo-buildimage-overcloud-hardened-full-centos-8: any of: ^image-yaml/.*$
