Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Zuul: Remove project name
  zuul.d/layout.yaml
Due: none

Remove unused gitdb dependency
  requirements.txt
Due: none

Updated from global requirements
  requirements.txt
Due: none

Specify SSH server list when configuring octavia
  workbooks/octavia_post.yaml
Due: none

Add tripleo-ssh-known-hosts role
  releasenotes/notes/tripleo-ssh-known-hosts-d27c54b0a6f9a028.yaml
  roles/tripleo-ssh-known-hosts/README.md
  roles/tripleo-ssh-known-hosts/defaults/main.yml
  roles/tripleo-ssh-known-hosts/handlers/main.yml
  roles/tripleo-ssh-known-hosts/meta/main.yml
  roles/tripleo-ssh-known-hosts/tasks/main.yml
  roles/tripleo-ssh-known-hosts/templates/ssh_known_hosts.j2
Due: none

Remove mongodb container image
  container-images/overcloud_containers.yaml
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Alter default for --min-tmpfs
  image-yaml/overcloud-hardened-images.yaml
  image-yaml/overcloud-images.yaml
  image-yaml/overcloud-realtime-compute.yaml
Due: none

Make container image upload more resilient
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Add support for multiple playbooks
  workbooks/ceph-ansible.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Tolerate missing labels for prepare --tag-from-label
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Make the validations workflow a bit more robust
  workbooks/validations.yaml
Due: none

Switch to tripleomaster registry
  container-images/overcloud_containers.yaml
  releasenotes/notes/switch_to_tripleomaster_registry-bd795a51f4e572c9.yaml
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/fakes.py
  tripleo_common/tests/image/test_image_uploader.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Build images with a 4k block size filesystem
  image-yaml/overcloud-images-centos7.yaml
  image-yaml/overcloud-images-rhel7.yaml
  tripleo_common/image/image_builder.py
Due: none

Format group:ansible deployments
  releasenotes/notes/format-ansible-deployments-8bc0de3b4dbfa69c.yaml
  tripleo_common/tests/utils/data/Compute
  tripleo_common/tests/utils/data/config_data.yaml
  tripleo_common/tests/utils/data/overcloud-novacompute-2
  tripleo_common/utils/config.py
Due: none

jq is now required on the overcloud images
  image-yaml/overcloud-hardened-images.yaml
  image-yaml/overcloud-images.yaml
  image-yaml/overcloud-odl-rhel7.yaml
  image-yaml/overcloud-realtime-compute.yaml
Due: none

Skip stack in-progress check
  workbooks/deployment.yaml
Due: none

Adds Workflow to Delete Deployment Plan
  releasenotes/notes/adds-delete-plan-workflow-d625682fdddd3f48.yaml
  workbooks/plan_management.yaml
Due: none

Support deprecated NIC config names for legacy roles.
  tripleo_common/actions/templates.py
Due: none

Add keystoneclient to requirements.txt
  requirements.txt
Due: none

Use an epoch as default, not a datetime
  tripleo_common/actions/logging_to_swift.py
Due: none

Add UC Backup Mistral workflow definition and actions
  releasenotes/notes/undercloud-backup-actions-and-workflow-1d661bba3fb2f974.yaml
  setup.cfg
  sudoers
  tripleo_common/actions/undercloud.py
  tripleo_common/tests/actions/test_undercloud.py
  tripleo_common/utils/swift.py
  workbooks/undercloud_backup.yaml
Due: none

Workaround reboot issue in Octavia hm interface template
  playbooks/roles/octavia-controller-config/templates/ifcfg.j2
Due: none

Adds Update Parameters Workflow
  releasenotes/notes/update-params-workflow-b26fd4cc40549537.yaml
  tripleo_common/actions/parameters.py
  workbooks/plan_management.yaml
Due: none

Use extra_vars to pass ireallymeanit
  workbooks/ceph-ansible.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Fix baremetal introspection client creation
  requirements.txt
  tripleo_common/actions/base.py
Due: none

Fix message type payload in rotate_fernet_keys workflow
  workbooks/fernet-key-rotate.yaml
Due: none

Updates ODL RPM to Oxygen
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Refactor GUI logging to use message claims
  workbooks/plan_management.yaml
Due: none

Fix health check for ovn-metadata
  healthcheck/ovn-metadata
Due: none

Set physical_network on baremetal nodes
  tripleo_common/actions/base.py
  tripleo_common/tests/actions/test_base.py
  tripleo_common/tests/utils/test_nodes.py
  tripleo_common/utils/nodes.py
Due: none

Handle None value for RoleConfig
  releasenotes/notes/role-config-none-d440bd0dcbb63534.yaml
  tripleo_common/tests/utils/test_config.py
  tripleo_common/utils/config.py
Due: none

Add upload plan-environment action for update and upgrade
  setup.cfg
  tripleo_common/actions/templates.py
  workbooks/package_update.yaml
  workbooks/plan_management.yaml
Due: none

Add healthchecks for barbican containers
  container-images/tripleo_kolla_template_overrides.j2
  healthcheck/barbican-api
  healthcheck/barbican-keystone-listener
  healthcheck/barbican-worker
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Quote $@ in ansible-playbook-command.sh
  releasenotes/notes/quote-$@-a3d47106c9b7eeb6.yaml
  tripleo_common/actions/ansible.py
Due: none

Fix the substitution of discovered tag
  tripleo_common/image/kolla_builder.py
Due: none

Fix overcloud export plan
  tripleo_common/actions/plan.py
Due: none

Deprecate group:os-apply-config with config-download
  releasenotes/notes/group-os-apply-config-warn-beece0b9fcff74b7.yaml
  tripleo_common/tests/utils/test_config.py
  tripleo_common/utils/config.py
Due: none

Revert "Add healthchecks for barbican containers"
  container-images/tripleo_kolla_template_overrides.j2
  healthcheck/barbican-api
  healthcheck/barbican-keystone-listener
  healthcheck/barbican-worker
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add Designate containers
  container-images/overcloud_containers.yaml
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: workbooks/ceph-ansible.yaml, ^container-images/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^container-images/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^container-images/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: workbooks/ceph-ansible.yaml, ^container-images/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^container-images/.*$
