Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7

tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py27
  - openstack-tox-py36
  - openstack-tox-py37

tripleo-ci-centos-7-scenario007-multinode-oooq-container:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py27
  - openstack-tox-py36
  - openstack-tox-py37

Remove the duplicated entry of designate-base
  container-images/tripleo_containers.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container

(TCIB) Remove validation related things from mistral container
  container-images/tcib/base/os/mistral-base/mistral-executor/mistral-executor.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Relax filter_images_with_labels() and re-add kolla_version
  container-images/tcib/base/base.yaml
  tripleo_common/image/image_uploader.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container

tcib: move cradox to gnocchi-base & enable ci on scenario001
  container-images/tcib/base/os/gnocchi-base/gnocchi-api/gnocchi-api.yaml
  container-images/tcib/base/os/gnocchi-base/gnocchi-base.yaml
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix OVN Octavia provider driver package name
  container-images/tcib/base/os/octavia-base/octavia-api/octavia-api.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add tripleo_states to default callback whitelist
  tripleo_common/actions/ansible.py
  tripleo_common/tests/actions/test_ansible.py
Due: none

Switch tripleo-cross-tripleoclient to python 3.7
  zuul.d/cross-jobs.yaml
  zuul.d/layout.yaml
Due: none

TCIB: add etcd user to the kolla group
  container-images/tcib/base/etcd/etcd.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container

image_uploader: switch stdout_callback to tripleo_dense
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Don't assume default tag exists in container repo
  container-images/container_image_prepare_defaults.yaml
  releasenotes/notes/check_for_default_tag-09fe34d2ac434890.yaml
  tripleo_common/image/image_uploader.py
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_image_uploader.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container

TCIB: bump ceph image to align with kolla images
  container-images/tripleo_containers.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container

TCIB: add python3-pynacl to mariadb image
  container-images/tcib/base/mariadb/mariadb.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container

ansible: limit_hosts now takes precedence over blacklisted_hostnames
  releasenotes/notes/limit_over_blacklist-3ce81ecf04b09997.yaml
  tripleo_common/actions/ansible.py
  tripleo_common/tests/actions/test_ansible.py
Due: none

Drop systemd support from nsswitch.conf
  container-images/tcib/base/base.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Retry fetching {{ deployment_uuid }}.notify.json file
  tripleo_common/templates/deployments.yaml
Due: none

tcib: rename kolla_version to tcib_managed
  container-images/tcib/base/base.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Revert "Remove chunk size for url stream"
  tripleo_common/image/image_uploader.py
Due: none

Update container image sources in U
  container-images/tripleo_containers.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container

[Train-Only] Fix mixing nodes and limit_hosts.
  workbooks/deployment.yaml
Due: none

Remove translation sections from setup.cfg
  babel.cfg
  lower-constraints.txt
  requirements.txt
  setup.cfg
Due: none

First pass at script cleanup
  container-images/kolla/barbican-base/sudoers
  container-images/kolla/base/httpd_setup.sh
  container-images/kolla/base/sudoers
  container-images/kolla/horizon/extend_start.sh
  container-images/kolla/neutron-base/neutron_sudoers
  container-images/tcib/base/mariadb/mariadb.yaml
  container-images/tcib/base/os/barbican-base/barbican-base.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add a strict option to per role tasks file generation.
  tripleo_common/constants.py
  tripleo_common/utils/config.py
Due: none

Add update and post update tasks to step generated file.
  tripleo_common/constants.py
Due: none

Properly collect tasks with or conditional in step file.
  tripleo_common/tests/utils/test_config.py
  tripleo_common/utils/config.py
Due: none

Don't disable centos-rabbitmq-38 repo in base image
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Replace overcloud-secure with overcloud-partition
  image-yaml/overcloud-hardened-images-python3.yaml
  image-yaml/overcloud-hardened-images-uefi-python3.yaml
  image-yaml/overcloud-hardened-images-uefi.yaml
  image-yaml/overcloud-hardened-images.yaml
Due: tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7

config-download remove role arg from _write_tasks_per_step()
  tripleo_common/tests/utils/test_config.py
  tripleo_common/utils/config.py
Due: none

Generate a play per step for external_deploy_tasks
  tripleo_common/constants.py
  tripleo_common/tests/fake_config/fakes.py
  tripleo_common/tests/utils/test_config.py
  tripleo_common/utils/config.py
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: workbooks/package_update.yaml, workbooks/baremetal.yaml, ^container-images/.*$, tripleo_common/actions/deployment.py, tripleo_common/actions/container_images.py, tripleo_common/image/kolla_builder.py, scripts/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py
  tripleo-buildimage-overcloud-full-centos-7: any of: ^image-yaml/.*$
  tripleo-buildimage-ironic-python-agent-centos-7: any of: ^image-yaml/.*$
  tripleo-buildimage-overcloud-hardened-full-centos-7: any of: ^image-yaml/.*$
