Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7

zuul.d/layout.yaml:

- project:
    templates:
      - check-requirements
      - openstack-cover-jobs
      - openstack-python3-ussuri-jobs
      - publish-openstack-docs-pti
      - release-notes-jobs-python3
      - tripleo-multinode-container-minimal
      - tripleo-undercloud-jobs
      - tripleo-build-containers-jobs
      - tripleo-standalone-scenarios-full
    check:
      jobs:
        - openstack-tox-linters
        - openstack-tox-py36
        - openstack-tox-py37
        - tripleo-ci-centos-7-containers-multinode:
            dependencies: &deps_unit_lint
              - openstack-tox-linters
              - openstack-tox-py36
              - openstack-tox-py37
        - tripleo-ci-centos-7-undercloud-containers:
            dependencies: *deps_unit_lint
        - tripleo-ci-centos-7-standalone:
            dependencies: *deps_unit_lint
        - tripleo-ci-centos-7-scenario000-multinode-oooq-container-upgrades:
            dependencies: *deps_unit_lint
        - tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
            dependencies: *deps_unit_lint
            files:
              - workbooks/package_update.yaml
              - workbooks/baremetal.yaml
              - ^container-images/.*$
              - tripleo_common/actions/deployment.py
              - tripleo_common/actions/container_images.py
              - tripleo_common/image/kolla_builder.py
              - scripts/.*$
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            dependencies: *deps_unit_lint
            files:
              - ^container-images/.*$
              - tripleo_common/image/kolla_builder.py
        - tripleo-ci-centos-7-scenario009-multinode-oooq-container:
            dependencies: *deps_unit_lint
            files:
              - ^container-images/.*$
              - tripleo_common/image/kolla_builder.py
        - tripleo-ci-centos-7-standalone-upgrade:
            dependencies: *deps_unit_lint
        - tripleo-ci-centos-7-scenario001-standalone:
            dependencies: *deps_unit_lint
        - tripleo-ci-centos-7-scenario002-standalone:
            dependencies: *deps_unit_lint
        - tripleo-ci-centos-7-scenario003-standalone:
            dependencies: *deps_unit_lint
        - tripleo-ci-centos-7-scenario004-standalone:
            dependencies: *deps_unit_lint
        - tripleo-ci-centos-7-scenario012-standalone:
            dependencies: *deps_unit_lint
        - tripleo-ci-centos-7-containerized-undercloud-upgrades:
            dependencies: *deps_unit_lint
        - tripleo-buildimage-overcloud-full-centos-7:
            dependencies: *deps_unit_lint
            files:
              - ^image-yaml/.*$
        - tripleo-buildimage-ironic-python-agent-centos-7:
            dependencies: *deps_unit_lint
            files:
              - ^image-yaml/.*$
        - tripleo-buildimage-overcloud-hardened-full-centos-7:
            dependencies: *deps_unit_lint
            files:
              - ^image-yaml/.*$
        - openstack-tox-lower-constraints
    gate:
      queue: tripleo
      jobs:
        - openstack-tox-linters
        - openstack-tox-lower-constraints
        - tripleo-buildimage-overcloud-full-centos-7:
            files:
              - ^image-yaml/.*$
        - tripleo-buildimage-ironic-python-agent-centos-7:
            files:
              - ^image-yaml/.*$
        - tripleo-buildimage-overcloud-hardened-full-centos-7:
            files:
              - ^image-yaml/.*$

image/builder/buildah: support Containerfile
  tripleo_common/image/builder/buildah.py
Due: none

Refactor ansible inventory generation
  tripleo_common/actions/ansible.py
  tripleo_common/inventory.py
  tripleo_common/tests/test_inventory.py
Due: none

Add kolla template override to remove python3-networking-mlnx
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Remove octavia_post.yaml workbook
  workbooks/octavia_post.yaml
Due: none

Remove access.yaml workbook
  workbooks/access.yaml
Due: none

Remove some unsed actions
  setup.cfg
  tripleo_common/actions/files.py
  tripleo_common/actions/package_update.py
  tripleo_common/tests/actions/test_files.py
Due: none

Enable centos-release-opstools repo for centos-8
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

buildah: allow to bind mount volumes when image build
  tripleo_common/image/builder/buildah.py
  tripleo_common/tests/image/builder/test_buildah.py
Due: none

Add Octavia use of the rsyslog image
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

buildah: allow to exclude images from build
  tripleo_common/image/builder/buildah.py
  tripleo_common/tests/image/builder/test_buildah.py
Due: none

Switch fact caching connection
  tripleo_common/actions/ansible.py
Due: none

Revert "[Train only] Add ssh timeout for baremetal_deploy"
  workbooks/baremetal_deploy.yaml
Due: none

Match hostname when doing node delete
  tripleo_common/actions/scale.py
  tripleo_common/tests/actions/test_scale.py
Due: none

buildah: exclude build and push, not only build
  tripleo_common/image/builder/buildah.py
  tripleo_common/tests/image/builder/test_buildah.py
Due: none

Switch to tripleo stdout callback
  tripleo_common/actions/ansible.py
  tripleo_common/tests/actions/test_ansible.py
Due: none

buildah: allow images without type
  tripleo_common/image/builder/buildah.py
  tripleo_common/tests/image/builder/test_buildah.py
Due: none

tripleo-ci-centos-7-containerized-undercloud-upgrades -> NV
  zuul.d/layout.yaml
Due: none

[stable-only] check for stack status IN_PROGRESS to retry
  workbooks/stack.yaml
Due: none

Switch to tripleo_dense
  tripleo_common/actions/ansible.py
  tripleo_common/tests/actions/test_ansible.py
Due: none

builder/buildah: use tenacity to retry failing pushes
  tripleo_common/image/builder/buildah.py
Due: none

Remove validation related things from mistral container
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Jinja2 raise extension
  releasenotes/notes/jinja2-template-render-raise-extension-87c7ed150a252ff5.yaml
  tripleo_common/tests/utils/test_template.py
  tripleo_common/utils/template.py
Due: none

linters refresh w/ afferent bugfixes
  .ansible-lint
  .pre-commit-config.yaml
  tox.ini
  tripleo_common/image/image_export.py
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_export.py
  tripleo_common/tests/image/test_image_uploader.py
  tripleo_common/utils/roles.py
Due: none

Remove container-update.py
  scripts/container-update.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Remove tripleo.deployment.overcloudrc action
  setup.cfg
  tripleo_common/actions/deployment.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Remove unnecessary Ceph{Admin,Mon,Mds}Key constants
  tripleo_common/constants.py
  tripleo_common/tests/utils/test_plan.py
Due: none

Bump grafana container to 5.4.3 tag
  container-images/container_image_prepare_defaults.yaml
  container-images/overcloud_containers.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Fix the log path on the host.
  workbooks/package_update.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Use unittest.mock instead of third party mock
  lower-constraints.txt
  tripleo_common/tests/actions/test_ansible.py
  tripleo_common/tests/actions/test_baremetal.py
  tripleo_common/tests/actions/test_base.py
  tripleo_common/tests/actions/test_derive_params.py
  tripleo_common/tests/actions/test_parameters.py
  tripleo_common/tests/actions/test_plan.py
  tripleo_common/tests/actions/test_scale.py
  tripleo_common/tests/actions/test_validations.py
  tripleo_common/tests/fake_config/fakes.py
  tripleo_common/tests/image/builder/test_buildah.py
  tripleo_common/tests/image/test_base.py
  tripleo_common/tests/image/test_build.py
  tripleo_common/tests/image/test_image_builder.py
  tripleo_common/tests/image/test_image_export.py
  tripleo_common/tests/image/test_image_uploader.py
  tripleo_common/tests/image/test_kolla_builder.py
  tripleo_common/tests/test_arch.py
  tripleo_common/tests/test_filters.py
  tripleo_common/tests/test_inventories.py
  tripleo_common/tests/test_inventory.py
  tripleo_common/tests/test_update.py
  tripleo_common/tests/utils/test_config.py
  tripleo_common/tests/utils/test_glance.py
  tripleo_common/tests/utils/test_nodes.py
  tripleo_common/tests/utils/test_overcloudrc.py
  tripleo_common/tests/utils/test_parameters.py
  tripleo_common/tests/utils/test_passwords.py
  tripleo_common/tests/utils/test_plan.py
  tripleo_common/tests/utils/test_process.py
  tripleo_common/tests/utils/test_roles.py
  tripleo_common/tests/utils/test_stack.py
  tripleo_common/tests/utils/test_stack_parameters.py
  tripleo_common/tests/utils/test_swift.py
  tripleo_common/tests/utils/test_template.py
  tripleo_common/tests/utils/test_validations.py
Due: none
