Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
  dependencies:
  - openstack-tox-pep8
  - openstack-tox-py27
  - openstack-tox-py35
  - openstack-tox-py36
  - openstack-tox-py37

tripleo-ci-centos-7-scenario007-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8
  - openstack-tox-py27
  - openstack-tox-py35
  - openstack-tox-py36
  - openstack-tox-py37

Remove the tripleo.plan_management.v1.publish_ui_logs_to_swiftworkflow
  workbooks/plan_management.yaml
Due: none

Remove the tripleo.plan_management.v1.download_logs workflow
  workbooks/plan_management.yaml
Due: none

Python 3 fixes for tripleo-hieradata role
  roles/tripleo-hieradata/templates/all_nodes.j2
  roles/tripleo-hieradata/templates/vip_data.j2
Due: none

Stop writing allnodes_vars in inventory
  tripleo_common/utils/config.py
Due: none

Get all the available Ansible variables for each validations
  tripleo_common/tests/utils/test_validations.py
  tripleo_common/utils/validations.py
Due: none

Processing available Ansible variables as 'parameters' not as 'metadata'
  tripleo_common/tests/utils/test_validations.py
  tripleo_common/utils/validations.py
Due: none

Ensure that OctaviaServerCertsKeyPassphrase is 32-byte long
  releasenotes/notes/fix-generated-server_certs_key_passphrase-60cba4653109992c.yaml
  tripleo_common/tests/utils/test_passwords.py
  tripleo_common/utils/passwords.py
Due: none

Handle registries with incorrect certs correctly
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Exit 1 when container image prepare fails
  scripts/tripleo-container-image-prepare
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add sudo commands for validations tempfile created in Python3
  sudoers
Due: none

Install dumb-init rpm
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Add fqdn and cloud_domain templates to tripleo-hieradata
  roles/tripleo-hieradata/templates/cloud_domain.j2
  roles/tripleo-hieradata/templates/fqdn.j2
Due: none

Add net_ip_map template to tripleo-hieradata
  roles/tripleo-hieradata/templates/net_ip_map.j2
Due: none

Remove tripleo-common/playbooks
  playbooks/octavia-files.yaml
  playbooks/roles/common/defaults/main.yml
  playbooks/roles/octavia-controller-config/handlers/main.yml
  playbooks/roles/octavia-controller-config/meta/main.yml
  playbooks/roles/octavia-controller-config/tasks/certificate.yml
  playbooks/roles/octavia-controller-config/tasks/main.yml
  playbooks/roles/octavia-controller-config/tasks/netinterface.yml
  playbooks/roles/octavia-controller-config/tasks/netport.yml
  playbooks/roles/octavia-controller-config/tasks/octavia.yml
  playbooks/roles/octavia-controller-config/templates/ifcfg-br-int.j2
  playbooks/roles/octavia-controller-config/templates/ifcfg.j2
  playbooks/roles/octavia-controller-config/templates/manager-post-deploy.conf.j2
  playbooks/roles/octavia-controller-post-config/defaults/main.yml
  playbooks/roles/octavia-controller-post-config/meta/main.yml
  playbooks/roles/octavia-controller-post-config/tasks/main.yml
  playbooks/roles/octavia-overcloud-config/meta/main.yml
  playbooks/roles/octavia-overcloud-config/tasks/certs_gen.yml
  playbooks/roles/octavia-overcloud-config/tasks/main.yml
  playbooks/roles/octavia-overcloud-config/tasks/network.yml
  playbooks/roles/octavia-overcloud-config/tasks/quotas.yml
  playbooks/roles/octavia-undercloud/meta/main.yml
  playbooks/roles/octavia-undercloud/tasks/image_mgmt.yml
  playbooks/roles/octavia-undercloud/tasks/main.yml
  playbooks/rotate-keys.yaml
  playbooks/swift_ring_rebalance.yaml
  setup.cfg
  workbooks/fernet-key-rotate.yaml
  workbooks/swift_ring_rebalance.yaml
Due: none

Image Uploader - get_undercloud_registry IPv6
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
  tripleo_common/utils/common.py
  tripleo_common/utils/overcloudrc.py
Due: none

Added support of overcloud os_cloud
  setup.cfg
  tripleo_common/actions/deployment.py
  tripleo_common/constants.py
  tripleo_common/utils/clouds_yaml.py
  workbooks/deployment.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Also write NetworkConfig to role dir
  tripleo_common/tests/utils/test_config.py
  tripleo_common/utils/config.py
Due: none

Make instances name/hostname optional
  tripleo_common/actions/baremetal_deploy.py
  tripleo_common/tests/actions/test_baremetal_deploy.py
Due: none

Remove pika from container builds
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Create <service> _cell_node_names if nova_additional_cell
  roles/tripleo-hieradata/templates/all_nodes.j2
Due: none

Remove the tripleo.plan_management.v1.list_sample_plans workflow
  workbooks/plan_management.yaml
Due: none

Correct how we fetch External and InternalApi networks name
  roles/tripleo-hieradata/templates/vip_data.j2
Due: none

Install python2-networking-baremetal in neutron-server
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Add ironic-neutron-agent container
  container-images/overcloud_containers.yaml
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Correct package name for ceilometermiddleware for swift
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Ensure we're raising proper exceptions
  tripleo_common/constants.py
  tripleo_common/image/builder/buildah.py
  tripleo_common/tests/image/builder/test_buildah.py
Due: none

Make a more ansible-ish test on hieradata_files list content
  roles/tripleo-hieradata/tasks/main.yaml
Due: none

Rsyslog image pull
  container-images/overcloud_containers.yaml
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Set scenario009 job voting to false
  zuul.d/layout.yaml
Due: none

Add get_key tasks for package update
  workbooks/package_update.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Allow platform in instackenv.json
  tripleo_common/tests/utils/test_nodes.py
  tripleo_common/utils/nodes.py
Due: none

Update kolla builder tests for new service path
  tripleo_common/tests/image/test_kolla_builder.py
Due: none

Bump ceph/daemon container image to v4.0.1
  container-images/container_image_prepare_defaults.yaml
  container-images/overcloud_containers.yaml
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Skip standalone deploys if tox jobs fail
  zuul.d/layout.yaml
Due: none

Add playbook to stop containers (stein only)
  roles/tripleo-container-stop/README.md
  roles/tripleo-container-stop/defaults/main.yaml
  roles/tripleo-container-stop/tasks/container_stop.yaml
  roles/tripleo-container-stop/tasks/main.yaml
Due: none

Add Python 3 Train unit tests
  tox.ini
  zuul.d/layout.yaml
Due: none

Set container=oci for our containers
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: workbooks/package_update.yaml, workbooks/baremetal.yaml, ^container-images/.*$, tripleo_common/actions/deployment.py, tripleo_common/actions/container_images.py, tripleo_common/image/kolla_builder.py, scripts/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py, scripts/tripleo-deploy-openshift
