Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7

tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37

tripleo-ci-centos-7-scenario007-multinode-oooq-container:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37

tripleo-ci-centos-7-scenario009-multinode-oooq-container:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37

Remove unused support.yaml workbook
  setup.cfg
  tripleo_common/actions/swifthelper.py
  tripleo_common/tests/actions/test_swifthelper.py
  workbooks/support.yaml
Due: none

Remove mistral dependency for password generation completely
  tripleo_common/tests/utils/test_passwords.py
  tripleo_common/tests/utils/test_plan.py
  tripleo_common/utils/passwords.py
  tripleo_common/utils/plan.py
Due: none

config-download timeout should KILL the process.
  tripleo_common/actions/ansible.py
Due: none

Disable fact gathering for create_admin
  workbooks/access.yaml
Due: none

Fix placement dependencies to work with mysql's ed25519
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Return None image client when no glance endpoint
  tripleo_common/actions/base.py
  tripleo_common/tests/utils/test_glance.py
Due: none

Move ListRolesAction functionality to utils
  tripleo_common/actions/plan.py
  tripleo_common/tests/actions/test_plan.py
  tripleo_common/tests/utils/test_roles.py
  tripleo_common/utils/roles.py
Due: none

[Q->T] Introduce Queens to Train Upgrade
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Set scp_if_ssh to True in ansible.cfg
  tripleo_common/actions/ansible.py
Due: none

Fix ANSIBLE_FORKS env variable in ceph-ansible workbook
  workbooks/ceph-ansible.yaml
Due: none

Remove baremetal deploy workflows and actions
  tripleo_common/actions/baremetal_deploy.py
  tripleo_common/tests/actions/test_baremetal_deploy.py
  workbooks/baremetal_deploy.yaml
Due: none

Match hostname when doing node delete
  tripleo_common/actions/scale.py
  tripleo_common/tests/actions/test_scale.py
Due: none

Revert removal of OrchestrationDeployAction
  tripleo_common/actions/deployment.py
  tripleo_common/tests/actions/test_deployment.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Switch to yaml.safe_load
  tripleo_common/tests/utils/test_passwords.py
  tripleo_common/utils/passwords.py
Due: none

clean up tripleo-common zuul layout, remove centos-7
  zuul.d/layout.yaml
Due: none

Fix multistack inventory
  tripleo_common/inventories.py
  tripleo_common/inventory.py
  tripleo_common/tests/inventory_data/cell1_dynamic.json
  tripleo_common/tests/inventory_data/cell1_static.yaml
  tripleo_common/tests/inventory_data/merged_dynamic.json
  tripleo_common/tests/inventory_data/merged_static.yaml
  tripleo_common/tests/inventory_data/overcloud_dynamic.json
  tripleo_common/tests/inventory_data/overcloud_static.yaml
  tripleo_common/tests/test_inventories.py
  tripleo_common/tests/test_inventory.py
Due: none

Prevent duplicated hosts in overcloudrc no_proxy
  tripleo_common/tests/utils/test_overcloudrc.py
  tripleo_common/utils/overcloudrc.py
Due: none

remove py27 from tox.ini
  tox.ini
Due: none

Add missing image yaml for centos 8
  image-yaml/overcloud-hardened-images-uefi-centos8.yaml
Due: tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7

Fixes for CentOS8 containers build
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Remove scale and stack related workflows and actions
  setup.cfg
  workbooks/scale.yaml
  workbooks/stack.yaml
Due: none

Wire-in missing concurrency for deploy_instances
  workbooks/baremetal_deploy.yaml
Due: none

Remove PrepareContainerImage* Actions
  tripleo_common/actions/container_images.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Remove GenerateFencingParametersAction and CreateContainerAction
  setup.cfg
  tripleo_common/actions/parameters.py
  tripleo_common/actions/plan.py
  tripleo_common/tests/actions/test_plan.py
  tripleo_common/tests/utils/test_plan.py
Due: none

[train-only] Update tripleo-ansible path for fernet playbook
  workbooks/fernet-key-rotate.yaml
Due: none

Preserve existing placement password during extraction
  tripleo_common/tests/utils/test_plan.py
  tripleo_common/utils/plan.py
Due: none

Allow ansible_group_vars to be overriden by RoleGroupVars
  tripleo_common/tests/utils/data/Controller
  tripleo_common/tests/utils/test_config.py
  tripleo_common/utils/config.py
Due: none

[Train only] Add ssh timeout for baremetal_deploy
  workbooks/baremetal_deploy.yaml
Due: none

[Train only] Wire-in missing concurrency for deploy_instances
  workbooks/baremetal_deploy.yaml
Due: none

[stable/train only] Use nodes as hostnames if ironic lookup fails
  workbooks/deployment.yaml
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: workbooks/package_update.yaml, workbooks/baremetal.yaml, ^container-images/.*$, tripleo_common/actions/deployment.py, tripleo_common/actions/container_images.py, tripleo_common/image/kolla_builder.py, scripts/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py
  tripleo-buildimage-overcloud-full-centos-7: any of: ^image-yaml/.*$
  tripleo-buildimage-ironic-python-agent-centos-7: any of: ^image-yaml/.*$
  tripleo-buildimage-overcloud-hardened-full-centos-7: any of: ^image-yaml/.*$
