Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

zuul.d/layout.yaml:

- project:
    templates:
      - tripleo-undercloud-jobs
      - tripleo-multinode-baremetal-minimal
      - tripleo-multinode-container-minimal
    check:
      jobs:
        - tripleo-ci-centos-7-scenario001-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario002-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario003-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario004-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
            files:
              - workbooks/package_update.yaml
              - workbooks/baremetal.yaml
              - ^container-images/.*$
              - tripleo_common/actions/deployment.py
    gate:
      queue: tripleo
      jobs:
        - tripleo-ci-centos-7-scenario001-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario002-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario003-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario004-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
            files:
              - workbooks/package_update.yaml
              - workbooks/baremetal.yaml
              - ^container-images/.*$
              - tripleo_common/actions/deployment.py

Do not require username/password when enrolling Redfish nodes
  tripleo_common/tests/utils/test_nodes.py
  tripleo_common/utils/nodes.py
Due: none

Add Ironic inspector health checks
  healthcheck/ironic-inspector
Due: none

Add health check script for Sahara API
  healthcheck/sahara-api
Due: none

Use swift bulk-delete when deleting a plan
  tripleo_common/actions/config.py
  tripleo_common/actions/plan.py
  tripleo_common/tests/actions/test_config.py
  tripleo_common/tests/actions/test_plan.py
  tripleo_common/tests/utils/test_swift.py
  tripleo_common/utils/swift.py
Due: none

import zuul job settings from project-config
  zuul.d/layout.yaml
Due: none

switch documentation job to new PTI
  zuul.d/layout.yaml
Due: none

add python 3.6 unit test job
  zuul.d/layout.yaml
Due: none

Handle sparse resource registry in build_service_filter
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: none

Add config_download_timeout input
  releasenotes/notes/config-download-timeout-7296683716f78022.yaml
  workbooks/deployment.yaml
Due: none

Fix validation runs in a containerized environment
  container-images/tripleo_kolla_template_overrides.j2
  tripleo_common/actions/validations.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Support deployment blacklist with --limit
  tripleo_common/actions/ansible.py
  workbooks/deployment.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Use YAML output of ansible instead of JSON
  tripleo_common/actions/ansible.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Remove container_registry param from package update action
  tripleo_common/actions/package_update.py
  tripleo_common/tests/actions/test_package_update.py
  workbooks/package_update.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add missing service for DockerCinderVolumeImage
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Allow networks in roles_data to be dict or list
  tripleo_common/tests/utils/test_roles.py
  tripleo_common/utils/roles.py
Due: none

Activate remaining set of healthchecks
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Refactor non-docker upload functions into base class
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

[rocky-only] Switch default images to tripleorocky
  container-images/overcloud_containers.yaml
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/fakes.py
  tripleo_common/tests/image/test_image_uploader.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add validations pkg to mistral-executor image
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Reintroduce empty_container for tripleoclient
  tripleo_common/utils/swift.py
Due: none

Handle missing or bad dmidecode
  workbooks/ceph-ansible.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Update swift_rings_backup workflow to also backup ceph fetch dir
  workbooks/deployment.yaml
  workbooks/plan_management.yaml
  workbooks/swift_backup.yaml
Due: none

Improve logging for modify image during prepare
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Disable external plugins in rabbitmq container
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Remove instack-undercloud from image building
  image-yaml/overcloud-hardened-images-uefi.yaml
  image-yaml/overcloud-hardened-images.yaml
  image-yaml/overcloud-images.yaml
  image-yaml/overcloud-realtime-compute.yaml
  tripleo_common/image/image_builder.py
Due: none

Revert "Add nvmetcli to cinder volume packages"
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add container runtime packages for cron image
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Revert "Reintroduce empty_container for tripleoclient"
  tripleo_common/utils/swift.py
Due: none

Revert "Use swift bulk-delete when deleting a plan"
  tripleo_common/actions/config.py
  tripleo_common/actions/plan.py
  tripleo_common/tests/actions/test_config.py
  tripleo_common/tests/actions/test_plan.py
  tripleo_common/tests/utils/test_swift.py
  tripleo_common/utils/swift.py
Due: none

Run prepare during package_update workflow
  workbooks/package_update.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Remove container_registry parameter from update workflows
  workbooks/package_update.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates
