Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Fix available roles listing
  workbooks/plan_management.yaml
Due: none

Add validations pkg to mistral-executor image
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Fix validation runs in a containerized environment
  container-images/tripleo_kolla_template_overrides.j2
  tripleo_common/actions/validations.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add bashate in gate jobs and fix existing errors
  healthcheck/ironic-pxe
  healthcheck/ovn-dbs
  healthcheck/sahara-api
  scripts/bootstrap_host_exec
  scripts/bootstrap_host_only_eval
  scripts/bootstrap_host_only_exec
  scripts/upload-swift-artifacts
  test-requirements.txt
  tools/check_duplicate_jinja_blocks.sh
  tools/releasenotes_tox.sh
  tox.ini
Due: none

Revert "Use YAML output of ansible instead of JSON"
  tripleo_common/actions/ansible.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Upgrade docker ceph container
  container-images/overcloud_containers.yaml
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Make ODL healthcheck IPv6 compatible
  healthcheck/opendaylight-api
Due: none

Switch to origin-docker-build
  container-images/overcloud_containers.yaml
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add container-registry image to openshift master role
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Tag openshift images for Infra service
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add container runtime packages for cron image
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Avoid getting one-empty-element-list in blacklisted_hostnames.
  workbooks/deployment.yaml
Due: none

Fix nova-placement healthcheck
  healthcheck/nova-placement
Due: none

Set SSH server keep alive options
  releasenotes/notes/set-ssh-server-keep-alive-options-071e1b3b570e78a7.yaml
  tripleo_common/actions/ansible.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

config: ignore missing server_id from the stack
  releasenotes/notes/blacklisted_serverid_config-e079e64e8a04cdb4.yaml
  tripleo_common/utils/config.py
Due: none

Use templates for cover
  zuul.d/layout.yaml
Due: none

Skopeo based uploader
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Do not include ceph-ansible in the container image.
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Revert "Remove ceph-osd after deployment succeeded in containers"
  workbooks/ceph-ansible.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Handle non-existant plan when getting deployment status
  releasenotes/notes/handle-no-deployment-status-a70a4b950171afbe.yaml
  workbooks/deployment.yaml
Due: none

Don't fail tripleo-bootstrap on package installs
  image-yaml/overcloud-hardened-images-uefi.yaml
  image-yaml/overcloud-hardened-images.yaml
  image-yaml/overcloud-odl-rhel7.yaml
  releasenotes/notes/dont-fail-tripleo-bootstrap-on-package-install-a00cd921b0af7168.yaml
  roles/tripleo-bootstrap/tasks/main.yml
Due: none

Add override_ansible_cfg
  tripleo_common/actions/ansible.py
  tripleo_common/tests/actions/test_ansible.py
  workbooks/deployment.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Add workflow for config-download export
  releasenotes/notes/workflow-config-download-export-d22f3eb958b8c97a.yaml
  tripleo_common/actions/config.py
  tripleo_common/tests/actions/test_config.py
  tripleo_common/utils/config.py
  workbooks/deployment.yaml
Due: none

[Queens Only]Rename uwsgi-plugin-python to uwsgi-plugin-python2 for barbican
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

[Pike Only] Rename uwsgi-plugin-python to uwsgi-plugin-python2 in barbican
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Optimize Heat stack check when processing roles
  tripleo_common/actions/templates.py
  tripleo_common/tests/actions/test_templates.py
Due: none

Remove non-voting jobs from the gate
  zuul.d/layout.yaml
Due: none

Increase upload concurrency
  tripleo_common/image/image_uploader.py
Due: none

Set prepare neutron_driver from NeutronMechanismDrivers
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: none

Add httpd and mod_ssl packages to octavia api image
  container-images/tripleo_kolla_template_overrides.j2
  releasenotes/notes/octavia-internal-tls-support-f595ed1c3a1f3353.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Update swift_rings_backup workflow to also backup ceph fetch dir
  workbooks/deployment.yaml
  workbooks/plan_management.yaml
  workbooks/swift_backup.yaml
Due: none

Fix check mode for server deployments
  releasenotes/notes/fix-check-mode-server-deployment-098bcae9e0227c57.yaml
  tripleo_common/templates/deployments.yaml
Due: none

Add config_download_timeout input
  releasenotes/notes/config-download-timeout-7296683716f78022.yaml
  workbooks/deployment.yaml
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: workbooks/ceph-ansible.yaml, ^container-images/.*$, tripleo_common/actions/ansible.py
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^container-images/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^container-images/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: workbooks/ceph-ansible.yaml, ^container-images/.*$, tripleo_common/actions/ansible.py
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^container-images/.*$
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: workbooks/package_update.yaml, workbooks/baremetal.yaml, ^container-images/.*$, tripleo_common/actions/deployment.py
