Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

zuul.d/layout.yaml:

- project:
    templates:
      - tripleo-undercloud-jobs
      - tripleo-multinode-baremetal-minimal
      - tripleo-multinode-container-minimal
    check:
      jobs:
        - tripleo-ci-centos-7-scenario001-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario002-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario003-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario004-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
            files:
              - workbooks/package_update.yaml
              - workbooks/baremetal.yaml
              - ^container-images/.*$
              - tripleo_common/actions/deployment.py
    gate:
      queue: tripleo
      jobs:
        - tripleo-ci-centos-7-scenario001-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario002-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario003-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario004-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
            files:
              - workbooks/package_update.yaml
              - workbooks/baremetal.yaml
              - ^container-images/.*$
              - tripleo_common/actions/deployment.py

Add container images for openshift 3.11
  container-images/container_image_prepare_defaults.yaml
  container-images/overcloud_containers.yaml
  container-images/overcloud_containers.yaml.j2
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Delete old tarball from config container on download
  tripleo_common/actions/config.py
Due: none

Revert to coreos images hosted on quay.io
  container-images/container_image_prepare_defaults.yaml
  container-images/overcloud_containers.yaml
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

don't install "yum-plugin-priorities" as it part of DNF
  image-yaml/overcloud-images-fedora.yaml
Due: none

[Core] Fix the KeyError exception.
  tripleo_common/tests/actions/test_config.py
  tripleo_common/utils/swift.py
Due: none

Stop installing octavia-amphora-image package
  playbooks/roles/octavia-undercloud/tasks/main.yml
  releasenotes/notes/stop-octavia-amphora-image-install-5d26e3d37c7b508f.yaml
  sudoers
Due: none

Implement tripleo-container-tag role
  releasenotes/notes/tripleo-container-tag-ec42e64289cb17e2.yaml
  roles/tripleo-container-tag/README.md
  roles/tripleo-container-tag/defaults/main.yaml
  roles/tripleo-container-tag/tasks/main.yaml
Due: none

fix tox python3 overrides
  tox.ini
Due: none

Store prepare defaults in packaged yaml
  container-images/container_image_prepare_defaults.yaml
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Fix config-download timeout
  tripleo_common/actions/ansible.py
  workbooks/deployment.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Run Mistral workflow to make temporary Swift URLs on upgrade
  workbooks/plan_management.yaml
  workbooks/rename_ceph_ansible_fetch_directory.yaml
Due: none

Ensure that GetHostCpusListAction.run() returns a deterministic result
  tripleo_common/actions/derive_params.py
Due: none

Sync state if needed during retrieval
  setup.cfg
  tripleo_common/actions/deployment.py
  tripleo_common/tests/actions/test_deployment.py
  workbooks/deployment.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add image_source to containers
  container-images/overcloud_containers.yaml
  container-images/overcloud_containers.yaml.j2
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Move Octavia config opts to common config directory
  playbooks/roles/octavia-controller-config/tasks/main.yml
  playbooks/roles/octavia-controller-config/tasks/octavia.yml
  playbooks/roles/octavia-controller-config/templates/worker-post-deploy.conf.j2
Due: none

Switch stable scenarios to voting
  zuul.d/layout.yaml
Due: none

Make ODL healthcheck IPv6 compatible
  healthcheck/opendaylight-api
Due: none

Omit grep process in nova_api healthcheck.
  healthcheck/nova-api
Due: none

Option to upload Octavia amphora img in RAW format
  playbooks/octavia-files.yaml
  playbooks/roles/common/defaults/main.yml
  playbooks/roles/octavia-undercloud/tasks/image_mgmt.yml
  workbooks/octavia_post.yaml
Due: none

Revert "Fix nova-placement healthcheck"
  healthcheck/nova-placement
Due: none

Correct handling of capabilities on node update
  releasenotes/notes/caps-fix-f6f8817a48fa5c25.yaml
  tripleo_common/tests/utils/test_nodes.py
  tripleo_common/utils/nodes.py
Due: none

Supports specifying profile explicitly in instackenv.json
  releasenotes/notes/profile-17e2650c8da9e8b5.yaml
  tripleo_common/tests/utils/test_nodes.py
  tripleo_common/utils/nodes.py
Due: none

Add container build job
  zuul.d/layout.yaml
Due: none

Revert "Revert "Add crane service to overcloud_containers.yaml.j2""
  container-images/overcloud_containers.yaml
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Don't reset parameter cache in a loop
  tripleo_common/actions/templates.py
Due: none

Cache swift responses in process_environments_and_files
  tripleo_common/utils/plan.py
Due: none

Add health check script for Sahara API
  healthcheck/sahara-api
Due: none

Add health checks for Swift services
  healthcheck/common.sh
  healthcheck/swift-account-server
  healthcheck/swift-container-server
  healthcheck/swift-object-expirer
  healthcheck/swift-object-server
  healthcheck/swift-proxy
  healthcheck/swift-rsync
Due: none

tripleo-container-tag: pull image before tagging
  roles/tripleo-container-tag/tasks/main.yaml
Due: none

Implement tripleo-docker-rm role
  releasenotes/notes/tripleo-docker-rm-b64297d5f9f42988.yaml
  roles/tripleo-docker-rm/README.md
  roles/tripleo-docker-rm/defaults/main.yaml
  roles/tripleo-docker-rm/tasks/main.yaml
Due: none

Pass execution_id to tripleo.ansible-playbook.
  workbooks/access.yaml
  workbooks/deployment.yaml
  workbooks/fernet-key-rotate.yaml
  workbooks/octavia_post.yaml
  workbooks/skydive-ansible.yaml
  workbooks/swift_ring_rebalance.yaml
Due: none

Fix nova-api healthcheck
  healthcheck/nova-api
Due: none

[Pike only] Fix docker registry url.
  container-images/overcloud_containers.yaml
  container-images/overcloud_containers.yaml.j2
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates
