Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add wrapper for openshift-ansible docker command
  scripts/tripleo-deploy-openshift
  setup.cfg
  sudoers
Due: none

Fix nova-api healthcheck in case of nova metadata wsgi
  healthcheck/nova-api
  releasenotes/notes/nova_api_healthcheck_metadata_wsgi_change-4a191009d7ef9963.yaml
Due: none

[Pike Only] Do not use namespace var name in docker img template.
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add crane service to overcloud_containers.yaml.j2
  container-images/overcloud_containers.yaml
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Change ceph-ansible fetch directory format on upgrade from Q to R
  workbooks/plan_management.yaml
  workbooks/rename_ceph_ansible_fetch_directory.yaml
Due: none

Remove ceph-ansible Mistral workflow
  workbooks/ceph-ansible.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Make service optional for auth
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Set workflow status to success when manipulating deployment status
  workbooks/deployment.yaml
Due: none

Update sphinx extension logging
  doc/source/_exts/workbooks.py
Due: none

Improve inspect error retry behaviour
  tripleo_common/image/image_uploader.py
Due: none

Increase size for security hardened images
  image-yaml/overcloud-hardened-images-uefi.yaml
  image-yaml/overcloud-hardened-images.yaml
  releasenotes/notes/increase-size-security-hardened-images-3fc4df73a48d4a91.yaml
Due: none

Skip deployments with no uuid
  tripleo_common/tests/utils/test_config.py
  tripleo_common/utils/config.py
Due: none

Add ansible_group_vars to config download
  tripleo_common/utils/config.py
Due: none

Add tht to mistral_executor (for plan create)
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Remove horizon ui plugins we don't support
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Run NetworkDeployment as async task
  tripleo_common/templates/deployments.yaml
Due: none

Store prepare defaults in packaged yaml
  container-images/container_image_prepare_defaults.yaml
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add debug to container image prepare
  scripts/tripleo-container-image-prepare
Due: none

write_config: force utf8
  tripleo_common/utils/config.py
Due: none

Don't add tarball to config-download dir
  tripleo_common/utils/config.py
Due: none

Per server deployments instead of per role
  releasenotes/notes/deployments-per-server-ea747fcff19c884d.yaml
  tripleo_common/templates/group_var_role.j2
  tripleo_common/templates/host_var_server.j2
  tripleo_common/tests/utils/data/Compute
  tripleo_common/tests/utils/data/Controller
  tripleo_common/tests/utils/data/config_data.yaml
  tripleo_common/tests/utils/data/host_vars/overcloud-controller-0
  tripleo_common/tests/utils/data/host_vars/overcloud-novacompute-0
  tripleo_common/tests/utils/data/host_vars/overcloud-novacompute-1
  tripleo_common/tests/utils/data/host_vars/overcloud-novacompute-2
  tripleo_common/tests/utils/test_config.py
  tripleo_common/utils/config.py
Due: none

[Pike Only] Remove comment related to namespace variable.
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Fix - config-download tarball upload OverflowError
  tripleo_common/actions/config.py
  tripleo_common/tests/actions/test_config.py
Due: none

Refactor image uploader class structure
  tripleo_common/image/image_uploader.py
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_image_uploader.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: none

Run Mistral workflow to make temporary Swift URLs on upgrade
  workbooks/plan_management.yaml
  workbooks/rename_ceph_ansible_fetch_directory.yaml
Due: none

Don't resolve Heat stack output when unnecessary
  tripleo_common/actions/deployment.py
  tripleo_common/actions/plan.py
  tripleo_common/tests/actions/test_plan.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

[Queens only] Fix syntax error.
  scripts/container-update.py
Due: none

Move some container deps out of base
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add UEFI support for hardened images
  image-yaml/overcloud-hardened-images-uefi-centos7.yaml
  image-yaml/overcloud-hardened-images-uefi-rhel7.yaml
  image-yaml/overcloud-hardened-images-uefi.yaml
Due: none

Remove non-voting scenarios from gate
  zuul.d/layout.yaml
Due: none

Use DockerRegistryMirror to proxy requests
  tripleo_common/image/image_uploader.py
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_image_uploader.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: none

Add Ironic inspector health checks
  healthcheck/ironic-inspector
Due: none

Support v1 container image manifests
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Use pyyaml to output group vars
  tripleo_common/templates/group_var_role.j2
  tripleo_common/tests/utils/data/Compute
  tripleo_common/tests/utils/data/Controller
  tripleo_common/tests/utils/test_config.py
  tripleo_common/utils/config.py
Due: none

Revert "Add crane service to overcloud_containers.yaml.j2"
  container-images/overcloud_containers.yaml
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: workbooks/ceph-ansible.yaml, ^container-images/.*$, tripleo_common/actions/ansible.py
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^container-images/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^container-images/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: workbooks/ceph-ansible.yaml, ^container-images/.*$, tripleo_common/actions/ansible.py
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^container-images/.*$
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: workbooks/package_update.yaml, workbooks/baremetal.yaml, ^container-images/.*$, tripleo_common/actions/deployment.py
