Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
  dependencies:
  - openstack-tox-pep8
  - openstack-tox-py27
  - openstack-tox-py35
  - openstack-tox-py36
  - openstack-tox-py37

tripleo-ci-centos-7-scenario007-multinode-oooq-container:
  dependencies:
  - openstack-tox-pep8
  - openstack-tox-py27
  - openstack-tox-py35
  - openstack-tox-py36
  - openstack-tox-py37

Revert "Improve Swift healthchecks"
  healthcheck/common.sh
  healthcheck/swift-account-replicator
  healthcheck/swift-account-server
  healthcheck/swift-container-replicator
  healthcheck/swift-container-server
  healthcheck/swift-object-expirer
  healthcheck/swift-object-replicator
  healthcheck/swift-object-server
  healthcheck/swift-proxy
  releasenotes/notes/swift-additional-healtchecks-ab8cd9c7562654f3.yaml
Due: none

Revert "Revert "Improve Swift healthchecks""
  container-images/tripleo_kolla_template_overrides.j2
  healthcheck/common.sh
  healthcheck/swift-account-replicator
  healthcheck/swift-account-server
  healthcheck/swift-container-replicator
  healthcheck/swift-container-server
  healthcheck/swift-object-expirer
  healthcheck/swift-object-replicator
  healthcheck/swift-object-server
  healthcheck/swift-proxy
  releasenotes/notes/swift-additional-healtchecks-ab8cd9c7562654f3.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Improve error reporting for not_done jobs in buildah
  tripleo_common/image/builder/buildah.py
  tripleo_common/tests/image/builder/test_buildah.py
Due: none

Improve Swift healthchecks
  container-images/tripleo_kolla_template_overrides.j2
  healthcheck/common.sh
  healthcheck/swift-account-replicator
  healthcheck/swift-account-server
  healthcheck/swift-container-replicator
  healthcheck/swift-container-server
  healthcheck/swift-object-expirer
  healthcheck/swift-object-replicator
  healthcheck/swift-object-server
  healthcheck/swift-proxy
  releasenotes/notes/swift-additional-healtchecks-ab8cd9c7562654f3.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Use the Mistral directory for storing the Ansible fact cache.
  tripleo_common/actions/ansible.py
Due: none

Make upload workers faster on processing layers
  tripleo_common/image/image_export.py
  tripleo_common/image/image_uploader.py
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_image_export.py
  tripleo_common/tests/image/test_image_uploader.py
  tripleo_common/utils/image.py
  tripleo_common/utils/locks/processlock.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Ignore blacklisted nodes when rendering network config
  tripleo_common/tests/utils/test_config.py
  tripleo_common/utils/config.py
Due: none

Escape invalid JSON characters during deployment.
  tripleo_common/templates/deployments.yaml
Due: none

Add RootStackName parameter on stack update
  releasenotes/notes/add-rootstackname-on-update-258dbf091fea497e.yaml
  workbooks/plan_management.yaml
Due: none

Add healthcheck for nova-virtlogd container
  healthcheck/nova-libvirt
Due: none

Pin ceph dashboard containers on a specific tag
  container-images/container_image_prepare_defaults.yaml
  container-images/overcloud_containers.yaml
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Provide container name when raising exceptions
  tripleo_common/image/builder/buildah.py
  tripleo_common/tests/image/builder/test_buildah.py
Due: none

Write ansible log content to a different log file
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Update hostvars lookup to fix regression
  tripleo_common/utils/config.py
Due: none

Add a healthcheck for ironic-neutron-agent
  healthcheck/ironic-neutron-agent
Due: none

Clarify introspection failed attempt log message
  workbooks/baremetal.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Switch scenario010 to voting in the check queue
  zuul.d/layout.yaml
Due: none

Make containerized-undercloud-upgrades vote on train
  zuul.d/layout.yaml
Due: none

Quote output values for overcloudrc
  tripleo_common/tests/utils/test_overcloudrc.py
  tripleo_common/utils/overcloudrc.py
Due: none

Pass container_config to config actions
  workbooks/package_update.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

OvS DPDK parameters failing in NIC Partitioning
  tripleo_common/actions/derive_params.py
Due: none

Provide the output to add a validation for role-specific params on services
  releasenotes/notes/role-specific-validation-5ea0a31711ced6fe.yaml
  workbooks/plan_management.yaml
Due: none

config: refactor how per step tasks are generated
  tripleo_common/constants.py
  tripleo_common/utils/config.py
Due: none

Using API instead yaql to get manageable nodes
  workbooks/baremetal.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: workbooks/package_update.yaml, workbooks/baremetal.yaml, ^container-images/.*$, tripleo_common/actions/deployment.py, tripleo_common/actions/container_images.py, tripleo_common/image/kolla_builder.py, scripts/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py, scripts/tripleo-deploy-openshift
