Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7

tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37

tripleo-ci-centos-7-scenario007-multinode-oooq-container:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37

tripleo-ci-centos-7-scenario009-multinode-oooq-container:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37

Move UploadTemplatesAction functionality to utils
  tripleo_common/actions/templates.py
  tripleo_common/tests/actions/test_templates.py
  tripleo_common/tests/utils/test_template.py
  tripleo_common/utils/template.py
Due: none

Remove skydive support
  container-images/overcloud_containers.yaml
  container-images/overcloud_containers.yaml.j2
  releasenotes/notes/remove-skydive-support-1cea22a7419a3b13.yaml
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Improve upload-swift-artifacts handling of json data
  scripts/upload-swift-artifacts
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Fix upload-swift-artifacts handling of json data
  scripts/upload-swift-artifacts
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add interface-names to centos8 images
  image-yaml/overcloud-hardened-images-centos8.yaml
  image-yaml/overcloud-images-centos8.yaml
  image-yaml/overcloud-images-ceph-centos8.yaml
Due: tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7

Move swift tempurl creation functionality to utils
  tripleo_common/actions/swifthelper.py
  tripleo_common/tests/actions/test_swifthelper.py
  tripleo_common/tests/utils/test_swift.py
  tripleo_common/utils/swift.py
Due: none

Add overcloud-ceph image build yaml
  image-yaml/overcloud-images-ceph-centos8.yaml
  image-yaml/overcloud-images-ceph-rhel8.yaml
  image-yaml/overcloud-images-ceph.yaml
  releasenotes/notes/add-overcloud-ceph-image-build-yamls-8ad8fe8b013a314e.yaml
Due: tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7

Pass container name to prune_unused_services
  tripleo_common/utils/template.py
Due: none

Change how we test for call
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Use unversioned RHEL element w/ RHEL8
  image-yaml/overcloud-images-ceph-rhel8.yaml
Due: tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7

Silent file descriptor checks
  healthcheck/common.sh
Due: none

Handle race for the already existing layer
  tripleo_common/image/image_export.py
Due: none

Move DeployStackAction functionality to utils
  tripleo_common/actions/deployment.py
  tripleo_common/tests/actions/test_deployment.py
  tripleo_common/tests/utils/test_stack.py
  tripleo_common/utils/stack.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Remove mistral from the snmp password function
  tripleo_common/tests/utils/test_passwords.py
  tripleo_common/utils/passwords.py
Due: none

config-download timeout should KILL the process.
  tripleo_common/actions/ansible.py
Due: none

Re-raise same exception type in export_stream
  tripleo_common/image/image_export.py
  tripleo_common/tests/image/test_image_export.py
Due: none

Improve authentication retries for slow transfers
  tripleo_common/image/image_export.py
  tripleo_common/image/image_uploader.py
Due: none

Fix path of log file.
  workbooks/package_update.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add libcgroup-tools to libvirt container
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Refactor registry request actions
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Add mistral workflow module path to mistral ansible config
  tripleo_common/actions/ansible.py
Due: none

Remove plan_management workflows and unused actions
  setup.cfg
  tripleo_common/actions/parameters.py
  tripleo_common/actions/templates.py
  tripleo_common/actions/vcs.py
  tripleo_common/tests/actions/test_vcs.py
  workbooks/plan_management.yaml
Due: none

Remove swift_backup workbook and some related actions
  setup.cfg
  tripleo_common/actions/swifthelper.py
  workbooks/swift_backup.yaml
Due: none

Remove deployment workbook and some unused actions
  setup.cfg
  tripleo_common/actions/deployment.py
  tripleo_common/tests/actions/test_deployment.py
  workbooks/deployment.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: workbooks/package_update.yaml, workbooks/baremetal.yaml, ^container-images/.*$, tripleo_common/actions/deployment.py, tripleo_common/actions/container_images.py, tripleo_common/image/kolla_builder.py, scripts/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py
  tripleo-buildimage-overcloud-full-centos-7: any of: ^image-yaml/.*$
  tripleo-buildimage-ironic-python-agent-centos-7: any of: ^image-yaml/.*$
  tripleo-buildimage-overcloud-hardened-full-centos-7: any of: ^image-yaml/.*$
