Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario003-standalone, tripleo-ci-centos-8-scenario004-standalone, tripleo-ci-centos-8-scenario007-standalone, tripleo-ci-centos-8-scenario010-standalone, tripleo-buildimage-overcloud-full-centos-8, tripleo-buildimage-ironic-python-agent-centos-8, tripleo-buildimage-overcloud-hardened-full-centos-8

tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37

tripleo-ci-centos-8-scenario001-standalone:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37
  vars:
    build_container_images: true

tripleo-ci-centos-8-scenario003-standalone:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37
  vars:
    build_container_images: true

tripleo-ci-centos-8-scenario004-standalone:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37
  vars:
    build_container_images: true

tripleo-ci-centos-8-scenario007-standalone:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37
  vars:
    build_container_images: true

tripleo-ci-centos-8-scenario010-standalone:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37
  vars:
    build_container_images: true

Add a real-time kernel hardened images for python3
  image-yaml/overcloud-hardened-images-python3-rt-kernel.yaml
  releasenotes/notes/add-real-time-kernel-images-cc790c6d7b6229da.yaml
Due: tripleo-buildimage-overcloud-full-centos-8, tripleo-buildimage-ironic-python-agent-centos-8, tripleo-buildimage-overcloud-hardened-full-centos-8

config-download remove role arg from _write_tasks_per_step()
  tripleo_common/tests/utils/test_config.py
  tripleo_common/utils/config.py
Due: none

Generate a play per step for external_deploy_tasks
  tripleo_common/constants.py
  tripleo_common/tests/fake_config/fakes.py
  tripleo_common/tests/utils/test_config.py
  tripleo_common/utils/config.py
Due: none

[TRAIN-and-older] Reduce wait time to send ansible output
  tripleo_common/actions/ansible.py
Due: none

Add a strict option to per role tasks file generation.
  tripleo_common/constants.py
  tripleo_common/utils/config.py
Due: none

Add update and post update tasks to step generated file.
  tripleo_common/constants.py
Due: none

Properly collect tasks with or conditional in step file.
  tripleo_common/tests/utils/test_config.py
  tripleo_common/utils/config.py
Due: none

container-images: add librados2 to gnocchi-base
  container-images/tcib/base/os/gnocchi-base/gnocchi-base.yaml
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-8-scenario001-standalone

Switch 55-heat-config to async
  tripleo_common/templates/deployments.yaml
Due: none

Fix parameter_defaults for nova less deploy
  tripleo_common/actions/baremetal_deploy.py
  tripleo_common/tests/actions/test_baremetal_deploy.py
Due: none

Drop systemd support from nsswitch.conf
  container-images/tcib/base/base.yaml
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Run standalone jobs with locally built images
  zuul.d/layout.yaml
Due: none

Handle redirects for blobs better
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Revert "Revert "Remove chunk size for url stream""
  tripleo_common/image/image_uploader.py
Due: none

[train-only] add ed25519 to TCIB (placement image)
  container-images/tcib/base/os/placement-api/placement-api.yaml
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Port jobs from centos7 to centos8
  zuul.d/layout.yaml
Due: none

Correct the inventory generation
  tripleo_common/inventories.py
  tripleo_common/tests/inventory_data/merged_dynamic.json
  tripleo_common/tests/inventory_data/merged_static.yaml
  tripleo_common/tests/inventory_data/single_dynamic.json
  tripleo_common/tests/inventory_data/single_static.yaml
  tripleo_common/tests/test_inventories.py
  tripleo_common/tests/test_inventory.py
Due: none

Reduce workers for label lookups
  tripleo_common/image/image_uploader.py
Due: none

Stop doing tag_from_label lookup with tag
  releasenotes/notes/skip-tag-lookup-if-tag-specified-2284c45dc0f87693.yaml
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Change default DHCP timeout for ironic-python-agent
  image-yaml/overcloud-images-python3.yaml
Due: tripleo-buildimage-overcloud-full-centos-8, tripleo-buildimage-ironic-python-agent-centos-8, tripleo-buildimage-overcloud-hardened-full-centos-8

Don't build image upload tasks when dry_run=True
  tripleo_common/image/image_uploader.py
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_image_uploader.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Add exponential backoff to ratelimited requests
  tripleo_common/image/exception.py
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Revert "Fix stdout_callback"
  tripleo_common/actions/ansible.py
Due: none

Remove check for ./puppet/services when filtering services
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates

Path conditions:
  tripleo-ci-centos-8-scenario000-multinode-oooq-container-updates: any of: workbooks/package_update.yaml, workbooks/baremetal.yaml, ^container-images/.*$, tripleo_common/actions/deployment.py, tripleo_common/actions/container_images.py, tripleo_common/image/kolla_builder.py, scripts/.*$
  tripleo-ci-centos-8-scenario001-standalone: any of: ^container-images/tcib/base/collectd.*$, ^container-images/tcib/base/os/aodh.*$, ^container-images/tcib/base/os/ceilometer.*$, ^container-images/tcib/base/os/cinder.*$, ^container-images/tcib/base/os/gnocchi.*$, ^container-images/tcib/base/os/heat.*$, ^container-images/tcib/base/qdrouterd.*$, ^container-images/tcib/base/rabbitmq.*$, ^container-images/tcib/base/redis.*$
  tripleo-ci-centos-8-scenario003-standalone: any of: ^container-images/tcib/base/os/designate.*$, ^container-images/tcib/base/os/mistral.*$, ^container-images/tcib/base/os/sahara.*$
  tripleo-ci-centos-8-scenario004-standalone: any of: ^container-images/tcib/base/os/manila.*$
  tripleo-ci-centos-8-scenario007-standalone: any of: ^container-images/tcib/base/os/neutron.*$
  tripleo-ci-centos-8-scenario010-standalone: any of: ^container-images/tcib/base/os/octavia.*$
  tripleo-buildimage-overcloud-full-centos-8: any of: ^image-yaml/.*$
  tripleo-buildimage-ironic-python-agent-centos-8: any of: ^image-yaml/.*$
  tripleo-buildimage-overcloud-hardened-full-centos-8: any of: ^image-yaml/.*$
