Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Avoid tox_install.sh for constraints support
  tools/tox_install.sh
  tox.ini
Due: none

Use new ceph/daemon tags
  container-images/overcloud_containers.yaml
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add custom subclass to revert mapping
  undercloud_heat_plugins/config.py
Due: none

ffwd-upgrade cli - adds ffwd_upgrade_converge_plan task for noops
  workbooks/package_update.yaml
Due: none

Use ansible_queue_name only for upgrade/update
  workbooks/package_update.yaml
Due: none

Bump Ceph container image from 3.0.1 to 3.0.3
  container-images/overcloud_containers.yaml
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Bump Ceph container image from 3.0.1 to 3.0.3
  container-images/overcloud_containers.yaml
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove ceph-ansible workflow.
  workbooks/ceph-ansible.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Configurable host network for inventory
  tripleo_common/inventory.py
Due: none

Update the horizon vhost filename
  healthcheck/horizon
Due: none

Add in a STOPSIGNAL configuration
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Build images with a 4k block size filesystem
  image-yaml/overcloud-images-centos7.yaml
  image-yaml/overcloud-images-rhel7.yaml
  tripleo_common/image/image_builder.py
Due: none

Fix healthcheck script for neutron-api service
  healthcheck/neutron-api
Due: none

Only update plan on upgrade converge
  workbooks/package_update.yaml
Due: none

Allow fencing config generation before deployment.
  tripleo_common/actions/parameters.py
  tripleo_common/utils/nodes.py
Due: none

Adds Create Container Workflow
  releasenotes/notes/adds-create-container-workflow-77ee4557779563c0.yaml
  workbooks/plan_management.yaml
Due: none

Create keypair for SSH access to Octavia amphorae
  playbooks/octavia-files.yaml
  playbooks/roles/common/defaults/main.yml
  playbooks/roles/octavia-undercloud/tasks/main.yml
  releasenotes/notes/octavia-amphora-ssh-5dee3678d7b66476.yaml
  workbooks/octavia_post.yaml
Due: none

Allow uploading big files to swift (5GB)
  releasenotes/notes/allow-upload-big-files-f67ff35fcd166612.yaml
  tripleo_common/actions/base.py
  tripleo_common/actions/logging_to_swift.py
  tripleo_common/actions/plan.py
  tripleo_common/actions/undercloud.py
  tripleo_common/tests/actions/test_logging_to_swift.py
  tripleo_common/tests/actions/test_plan.py
  tripleo_common/tests/actions/test_undercloud.py
  tripleo_common/utils/swift.py
Due: none

Fix nova-placement healthcheck
  healthcheck/nova-placement
Due: none

Add healthcheck script for nova-metadata service
  container-images/tripleo_kolla_template_overrides.j2
  healthcheck/nova-metadata
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add workflow to generate fencing parameters
  releasenotes/notes/adds-generate-fencing-parameters-e2ea121247779db3.yaml
  workbooks/parameters.yaml
Due: none

Fix the passlib deprecation warning
  tripleo_common/utils/passwords.py
Due: none

Add Workflow To Create Overcloudrc Files
  releasenotes/notes/create-overcloudrc-workflow-e5150b6b0af462f0.yaml
  workbooks/deployment.yaml
Due: none

Use Designate Worker container for config
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Don't set deployments as hostvars
  tripleo_common/templates/deployment.j2
  tripleo_common/templates/deployments.yaml
  tripleo_common/tests/utils/data/overcloud-controller-0
  tripleo_common/tests/utils/data/overcloud-controller-0/ControllerHostEntryDeployment
  tripleo_common/tests/utils/data/overcloud-controller-0/MyExtraConfigPost
  tripleo_common/tests/utils/data/overcloud-controller-0/MyPostConfig
  tripleo_common/tests/utils/data/overcloud-controller-0/NetworkDeployment
  tripleo_common/tests/utils/data/overcloud-novacompute-0
  tripleo_common/tests/utils/data/overcloud-novacompute-0/ComputeHostEntryDeployment
  tripleo_common/tests/utils/data/overcloud-novacompute-0/MyExtraConfigPost
  tripleo_common/tests/utils/data/overcloud-novacompute-0/NetworkDeployment
  tripleo_common/tests/utils/data/overcloud-novacompute-1
  tripleo_common/tests/utils/data/overcloud-novacompute-1/ComputeHostEntryDeployment
  tripleo_common/tests/utils/data/overcloud-novacompute-1/MyExtraConfigPost
  tripleo_common/tests/utils/data/overcloud-novacompute-1/NetworkDeployment
  tripleo_common/tests/utils/data/overcloud-novacompute-2
  tripleo_common/tests/utils/data/overcloud-novacompute-2/AnsibleDeployment
  tripleo_common/tests/utils/data/overcloud-novacompute-2/ComputeHostEntryDeployment
  tripleo_common/tests/utils/data/overcloud-novacompute-2/MyExtraConfigPost
  tripleo_common/tests/utils/data/overcloud-novacompute-2/NetworkDeployment
  tripleo_common/tests/utils/test_config.py
  tripleo_common/utils/config.py
Due: none

Fix missing docker package in neutron L3 agent container
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add healthcheck script to mistral-event-engine image
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix tarball generation when downloading logs
  tripleo_common/actions/logging_to_swift.py
Due: none

Workflows for wiping overcloud nodes
  workbooks/baremetal.yaml
Due: none

Enable ControlMaster for ansible ssh
  tripleo_common/actions/ansible.py
Due: none

Add healthcheck script for neutron-sriov-agent
  healthcheck/neutron-sriov-agent
Due: none

Add healthcheck script for libvirtd
  healthcheck/nova-libvirt
Due: none

Add healthcheck script for ceilometer-agent-compute
  healthcheck/ceilometer-agent-compute
Due: none

Activate another set of healthchecks
  container-images/tripleo_kolla_template_overrides.j2
  healthcheck/ceilometer-agent-compute
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: workbooks/ceph-ansible.yaml, ^container-images/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^container-images/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^container-images/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: workbooks/ceph-ansible.yaml, ^container-images/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^container-images/.*$
