Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Hardcoding x86_64 in template overrides for the opendaylight repository
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Set workflow status to success when manipulating deployment status
  workbooks/deployment.yaml
Due: none

Switch to openshift 3.10
  container-images/overcloud_containers.yaml
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Switch to origin-docker-build
  container-images/overcloud_containers.yaml
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add container-registry image to openshift master role
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Tag openshift images for Infra service
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

images: install libseccomp beside podman
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Fix check mode for server deployments
  releasenotes/notes/fix-check-mode-server-deployment-098bcae9e0227c57.yaml
  tripleo_common/templates/deployments.yaml
Due: none

Revert "Add container runtime packages for cron image"
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Load and persist modules from the host.
  releasenotes/notes/tripleo-module-load-80f7fd8c8dd6a81e.yaml
  roles/tripleo-module-load/defaults/main.yaml
  roles/tripleo-module-load/tasks/main.yaml
  roles/tripleo-module-load/templates/module-load.conf.j2
Due: none

Check mode support for hiera deployments
  releasenotes/notes/add-check-mode-support-for-hiera-f15fed971d4397f8.yaml
  tripleo_common/templates/deployments.yaml
Due: none

Add image building config file for Fedora and py3
  image-yaml/overcloud-images-fedora.yaml
  image-yaml/overcloud-images-python3.yaml
Due: none

Add on-error task to parse_node_data_lookup
  workbooks/ceph-ansible.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Don't add tarball to config-download dir
  tripleo_common/utils/config.py
Due: none

Fail node cleaning on timeout
  workbooks/baremetal.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Do not include ceph-ansible in the container image.
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add openshift-ansible container image
  container-images/overcloud_containers.yaml
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add wrapper for openshift-ansible docker command
  scripts/tripleo-deploy-openshift
  setup.cfg
  sudoers
Due: none

Improve validations output for troubleshooting.
  workbooks/validations.yaml
Due: none

Make ODL healthcheck IPv6 compatible
  healthcheck/opendaylight-api
Due: none

Fix skip of octavia-undercloud Ansible role
  playbooks/octavia-files.yaml
Due: none

Add httpd and mod_ssl packages to octavia api image
  container-images/tripleo_kolla_template_overrides.j2
  releasenotes/notes/octavia-internal-tls-support-f595ed1c3a1f3353.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

tripleo-container-image-prepare add --log-file
  scripts/tripleo-container-image-prepare
Due: none

Fix temp file locking issues in tests
  tripleo_common/tests/utils/test_config.py
Due: none

Default the scale status to SUCCESS
  workbooks/scale.yaml
Due: none

Honor blacklist with enable_ssh_admin
  releasenotes/notes/enable-ssh-admin-honor-blacklist-f1371554ab1b38f6.yaml
  workbooks/access.yaml
  workbooks/deployment.yaml
Due: none

Set prepare neutron_driver from NeutronMechanismDrivers
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: none

Use Timesync service instead of Ntp
  tripleo_common/tests/actions/test_plan.py
  tripleo_common/tests/image/test_kolla_builder.py
  tripleo_common/tests/utils/test_roles.py
Due: none

Run prepare during package_update workflow
  workbooks/package_update.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Retry uploading messages to Swift up to 5 times
  workbooks/messaging.yaml
Due: none

Fix nova-api healthcheck in case of nova metadata wsgi
  healthcheck/nova-api
  releasenotes/notes/nova_api_healthcheck_metadata_wsgi_change-4a191009d7ef9963.yaml
Due: none

Add AllNodesConfig to config-download group vars
  tripleo_common/utils/config.py
Due: none

Replace skopeo inspect with python
  test-requirements.txt
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: workbooks/ceph-ansible.yaml, ^container-images/.*$, tripleo_common/actions/ansible.py
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^container-images/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^container-images/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: workbooks/ceph-ansible.yaml, ^container-images/.*$, tripleo_common/actions/ansible.py
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^container-images/.*$
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: workbooks/package_update.yaml, workbooks/baremetal.yaml, ^container-images/.*$, tripleo_common/actions/deployment.py
