Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

zuul.d/layout.yaml:

- project:
    templates:
      - tripleo-undercloud-jobs
      - tripleo-multinode-baremetal-minimal
      - tripleo-multinode-container-minimal
    check:
      jobs:
        - tripleo-ci-centos-7-scenario001-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario002-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario003-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario004-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
            files:
              - workbooks/package_update.yaml
              - workbooks/baremetal.yaml
              - ^container-images/.*$
              - tripleo_common/actions/deployment.py
    gate:
      queue: tripleo
      jobs:
        - tripleo-ci-centos-7-scenario001-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario002-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario003-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario004-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
            files:
              - workbooks/package_update.yaml
              - workbooks/baremetal.yaml
              - ^container-images/.*$
              - tripleo_common/actions/deployment.py

Include microversion in OS_VOLUME_API_VERSION
  tripleo_common/constants.py
Due: none

ensure unique ironic node ID with UCS driver
  releasenotes/notes/ironic-ucs-driver-node-uniqueness-fix-c74110a9728d1023.yaml
  tripleo_common/tests/utils/test_nodes.py
  tripleo_common/utils/nodes.py
Due: none

Use hostnames in inventory
  releasenotes/notes/use-hostnames-in-inventory-6d1a3572baebf509.yaml
  tripleo_common/inventory.py
  tripleo_common/tests/test_inventory.py
  tripleo_common/utils/config.py
Due: none

Fix dynamic inventory
  tripleo_common/inventory.py
  tripleo_common/tests/test_inventory.py
Due: none

Include 'tripleo_role_name' in the inventory
  tripleo_common/inventory.py
  tripleo_common/tests/test_inventory.py
Due: none

Action to perform container image prepare
  setup.cfg
  tripleo_common/actions/container_images.py
  tripleo_common/tests/actions/test_container_images.py
  workbooks/deployment.yaml
Due: none

Add disable-nouveau element to tripleo images
  image-yaml/overcloud-hardened-images-uefi.yaml
  image-yaml/overcloud-hardened-images.yaml
  image-yaml/overcloud-images.yaml
  image-yaml/overcloud-realtime-compute.yaml
  releasenotes/notes/disable_nouveau-bbaf1263fe43821a.yaml
Due: none

Add ability to filter container images to modify
  tripleo_common/image/image_uploader.py
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: none

Add container images for CNS
  container-images/overcloud_containers.yaml
  container-images/overcloud_containers.yaml.j2
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Revert "Action to perform container image prepare"
  setup.cfg
  tripleo_common/actions/container_images.py
  tripleo_common/tests/actions/test_container_images.py
  workbooks/deployment.yaml
Due: none

Add missing service for DockerCinderConfigImage
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Set known hosts when --limit is set.
  roles/tripleo-ssh-known-hosts/tasks/main.yml
  roles/tripleo-ssh-known-hosts/templates/ssh_known_hosts.j2
Due: none

Add workflow for config-download export
  releasenotes/notes/workflow-config-download-export-d22f3eb958b8c97a.yaml
  tripleo_common/actions/config.py
  tripleo_common/tests/actions/test_config.py
  tripleo_common/utils/config.py
  workbooks/deployment.yaml
Due: none

Use ansible_queue_name only for upgrade/update
  workbooks/package_update.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

kolla overrides: Remove yum cache
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add default for ceph_ansible_playbook in update/upgrade prepare workflow
  workbooks/package_update.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Remove ceph-specific logic from update/upgrade prepare workflow
  tripleo_common/actions/package_update.py
  tripleo_common/tests/actions/test_package_update.py
  workbooks/package_update.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add skydive-ansible to mistral base packages
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Revert "Add disable-nouveau element to tripleo images"
  image-yaml/overcloud-hardened-images-uefi.yaml
  image-yaml/overcloud-hardened-images.yaml
  image-yaml/overcloud-images.yaml
  image-yaml/overcloud-realtime-compute.yaml
  releasenotes/notes/disable_nouveau-bbaf1263fe43821a.yaml
Due: none

Revert "Revert "Add disable-nouveau element to tripleo images""
  image-yaml/overcloud-hardened-images-uefi.yaml
  image-yaml/overcloud-hardened-images.yaml
  image-yaml/overcloud-images.yaml
  image-yaml/overcloud-realtime-compute.yaml
  releasenotes/notes/disable_nouveau-bbaf1263fe43821a.yaml
Due: none

Set trash_output for ceph-ansible playbook run
  workbooks/ceph-ansible.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Take WSGIScriptAlias into account in docker healthcheck.
  healthcheck/common.sh
Due: none

Fix overwriting downloaded config files
  tripleo_common/utils/config.py
Due: none

Create get_flattened_parameters workflow
  releasenotes/notes/create_get_flattened_parameters_workflow-8c35b813289a5479.yaml
  workbooks/derive_params.yaml
Due: none

Use keystone group for loading auth params
  tripleo_common/tests/actions/test_base.py
  tripleo_common/utils/keystone.py
Due: none

Allow deferred undercloud push_destination detection
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Add override_ansible_cfg
  tripleo_common/actions/ansible.py
  tripleo_common/tests/actions/test_ansible.py
  workbooks/deployment.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Fix available roles listing
  workbooks/plan_management.yaml
Due: none

Make MetricsQdr service use qdrouterd image
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Create script tripleo-container-image-prepare
  scripts/tripleo-container-image-prepare
  setup.cfg
Due: none

Action to perform container image prepare
  setup.cfg
  tripleo_common/actions/container_images.py
  tripleo_common/tests/actions/test_container_images.py
Due: none

Add sudoers entry for tripleo-container-image-prepare
  sudoers
Due: none

Add on-error task to parse_node_data_lookup
  workbooks/ceph-ansible.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Add python-novajoin to nova-api packages
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Create Heat Environments workbook
  releasenotes/notes/create_heat_capabilities_workbook-091f0ce2ab5fff3a.yaml
  workbooks/heat_environments.yaml
Due: none

Enable Ansible error handling per role
  tripleo_common/templates/group_var_role.j2
  tripleo_common/tests/utils/data/Compute
  tripleo_common/tests/utils/data/Controller
  tripleo_common/tests/utils/test_config.py
  tripleo_common/utils/config.py
Due: none

Include the stack name when generating the tripleo-ansible-inventory
  scripts/upgrade-non-controller.sh
Due: none
