Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7

tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37

tripleo-ci-centos-7-scenario007-multinode-oooq-container:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37

tripleo-ci-centos-7-scenario009-multinode-oooq-container:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37

Do not disable RabbitMQ and OpsTools repos.
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Enhance error messages when building containers
  tripleo_common/image/builder/buildah.py
  tripleo_common/tests/image/builder/test_buildah.py
Due: none

Improve error reporting for not_done jobs in buildah
  tripleo_common/image/builder/buildah.py
  tripleo_common/tests/image/builder/test_buildah.py
Due: none

Provide container name when raising exceptions
  tripleo_common/image/builder/buildah.py
  tripleo_common/tests/image/builder/test_buildah.py
Due: none

Fix dry-run for "remote copy deployment file" task
  tripleo_common/templates/deployments.yaml
Due: none

Removed job tripleo-ci-centos-7-scenario009-multinode-oooq-container
  zuul.d/layout.yaml
Due: none

Change generate_ansible_inventory() arguments
  tripleo_common/actions/ansible.py
  tripleo_common/inventory.py
  tripleo_common/utils/stack.py
Due: none

Bump ceph/daemon container image to v4.0.12
  container-images/container_image_prepare_defaults.yaml
  container-images/overcloud_containers.yaml
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

[Train only] Fix for CentOS8 containers build
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Do not rotate CephX secrets
  tripleo_common/constants.py
  tripleo_common/utils/passwords.py
Due: none

Strictly check pm_type string
  tripleo_common/tests/utils/test_nodes.py
  tripleo_common/utils/nodes.py
Due: none

Add support for python 3.8
  lower-constraints.txt
  requirements.txt
  setup.cfg
  tox.ini
  zuul.d/layout.yaml
Due: none

Update .gitreview for stable/ussuri
  .gitreview
Due: none

Update TOX_CONSTRAINTS_FILE for stable/ussuri
  tox.ini
Due: none

Update master for stable/ussuri
  releasenotes/source/index.rst
  releasenotes/source/ussuri.rst
Due: none

Add Python3 victoria unit tests
  zuul.d/layout.yaml
Due: none

Remove tripleo.deployment.overcloudrc action
  setup.cfg
  tripleo_common/actions/deployment.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Switch namespace for ussuri
  container-images/container_image_prepare_defaults.yaml
  container-images/overcloud_containers.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Prevent duplicated hosts in overcloudrc no_proxy
  tripleo_common/tests/utils/test_overcloudrc.py
  tripleo_common/utils/overcloudrc.py
Due: none

[stable-only] check for stack status IN_PROGRESS to retry
  workbooks/stack.yaml
Due: none

Fix nova-virtlogd container healthcheck
  healthcheck/nova-libvirt
Due: none

Remove tripleoclient container
  container-images/overcloud_containers.yaml
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Add Octavia use of the rsyslog image
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Remove unnecessary Ceph{Admin,Mon,Mds}Key constants
  tripleo_common/constants.py
  tripleo_common/tests/utils/test_plan.py
Due: none

Revert "Add kolla template override to remove python3-networking-mlnx"
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Switch to tripleo stdout callback
  tripleo_common/actions/ansible.py
  tripleo_common/tests/actions/test_ansible.py
Due: none

Switch to newer openstackdocstheme and reno versions
  doc/source/conf.py
  lower-constraints.txt
  releasenotes/source/conf.py
  test-requirements.txt
Due: none

tcib/ceilometer-base: remove panko dependency
  container-images/tcib/base/os/ceilometer-base/ceilometer-base.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

[Ussuri Only] Sync template overrides with Kolla
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Remove AnsibleGenerateInventoryAction mistal action
  setup.cfg
  tripleo_common/actions/ansible.py
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: workbooks/package_update.yaml, workbooks/baremetal.yaml, ^container-images/.*$, tripleo_common/actions/deployment.py, tripleo_common/actions/container_images.py, tripleo_common/image/kolla_builder.py, scripts/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py
  tripleo-buildimage-overcloud-full-centos-7: any of: ^image-yaml/.*$
  tripleo-buildimage-ironic-python-agent-centos-7: any of: ^image-yaml/.*$
  tripleo-buildimage-overcloud-hardened-full-centos-7: any of: ^image-yaml/.*$
