Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

zuul.d/layout.yaml:

- project:
    templates:
      - tripleo-undercloud-jobs
      - tripleo-multinode-baremetal-minimal
      - tripleo-multinode-container-minimal
    check:
      jobs:
        - tripleo-ci-centos-7-scenario001-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario002-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario003-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario004-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
            files:
              - workbooks/package_update.yaml
              - workbooks/baremetal.yaml
              - ^container-images/.*$
              - tripleo_common/actions/deployment.py
    gate:
      queue: tripleo
      jobs:
        - tripleo-ci-centos-7-scenario001-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario002-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario003-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario004-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
            files:
              - workbooks/package_update.yaml
              - workbooks/baremetal.yaml
              - ^container-images/.*$
              - tripleo_common/actions/deployment.py

[Queens only] Fix the default for docker registry.
  container-images/overcloud_containers.yaml
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/fakes.py
  tripleo_common/tests/image/test_image_uploader.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Fix ironic-pxe healthcheck.
  healthcheck/ironic-pxe
Due: none

Replace scenario001-multinode with scenario001-standalone
  zuul.d/layout.yaml
Due: none

Set DeployIdentifier on update/upgrade/ffwd prepare actions
  tripleo_common/actions/package_update.py
  tripleo_common/tests/actions/test_package_update.py
Due: none

Fix broken YAQL expressions in heat_environments.yaml
  workbooks/heat_environments.yaml
Due: none

Catch heat exceptions in DeployStackAction
  tripleo_common/actions/deployment.py
  tripleo_common/tests/actions/test_deployment.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Don't upcall run on UpdateParametersAction errors
  tripleo_common/actions/parameters.py
Due: none

Correct handling of capabilities on node update
  releasenotes/notes/caps-fix-f6f8817a48fa5c25.yaml
  tripleo_common/tests/utils/test_nodes.py
  tripleo_common/utils/nodes.py
Due: none

Don't accumulate ansible output uselessly
  tripleo_common/actions/ansible.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Stops growth of massive dentry cache growth
  healthcheck/common.sh
Due: none

Derives NUMA aware vSwitches parameters
  tripleo_common/actions/derive_params.py
  tripleo_common/tests/actions/test_derive_params.py
  workbooks/derive_params.yaml
  workbooks/derive_params_formulas.yaml
Due: none

Switch scenarios to non-voting
  zuul.d/layout.yaml
Due: none

Set heatclient exceptions to verbose
  tripleo_common/actions/__init__.py
  tripleo_common/tests/actions/test_deployment.py
Due: none

Increase ansible gather_timeout to 30secs for config-download
  tripleo_common/actions/ansible.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Fix environments sorting
  tripleo_common/tests/actions/test_heat_capabilities.py
  tripleo_common/tests/utils/test_plan.py
  tripleo_common/utils/plan.py
Due: none

[Pike only] Fix syntax error.
  scripts/container-update.py
Due: none

Bump the Ceph container image to 3.2.0
  container-images/overcloud_containers.yaml
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add python-notario package to mistral-executor container
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Install python2-networking-ansible in neutron-server
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Only update parameters once in backup workflow
  workbooks/swift_backup.yaml
Due: none

Add a way to update ContainerImagePrepare params
  setup.cfg
  tripleo_common/actions/container_images.py
  tripleo_common/tests/actions/test_container_images.py
  workbooks/container_images.yaml
Due: none

Fix skip of octavia-undercloud Ansible role
  playbooks/octavia-files.yaml
Due: none

overrides for transitioning from mariadb 10.1 to 10.3
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

[Configuration] Add missing py37 and corrected default envlist.
  tox.ini
  zuul.d/layout.yaml
Due: none

Remove tripleo ironic-staging-drivers addition
  container-images/tripleo_kolla_template_overrides.j2
  releasenotes/notes/remove-ironic-staging-drivers-override-ce9776ec030ec02a.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Handle missing or bad dmidecode
  workbooks/ceph-ansible.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Option to upload Octavia amphora img in RAW format
  playbooks/octavia-files.yaml
  playbooks/roles/common/defaults/main.yml
  playbooks/roles/octavia-undercloud/tasks/image_mgmt.yml
  workbooks/octavia_post.yaml
Due: none

Fix syntax error in role octavia-controller-config
  playbooks/roles/octavia-controller-config/tasks/octavia.yml
Due: none

Implement python based uploader
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Add excludes to kolla builder
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: none

Address python3 string issues with subprocess
  scripts/container-update.py
  tripleo_common/actions/ansible.py
  tripleo_common/image/image_uploader.py
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_image_uploader.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Activate remaining set of healthchecks
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates
