Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7

zuul.d/layout.yaml:

- project:
    templates:
      - check-requirements
      - openstack-cover-jobs
      - openstack-python-jobs
      - openstack-python3-train-jobs
      - publish-openstack-docs-pti
      - release-notes-jobs-python3
      - tripleo-multinode-container-minimal
      - tripleo-undercloud-jobs
      - tripleo-build-containers-jobs
      - tripleo-standalone-scenarios-full
    check:
      jobs:
        - openstack-tox-linters
        - openstack-tox-py27
        - openstack-tox-py36
        - openstack-tox-py37
        - tripleo-ci-centos-7-containers-multinode:
            dependencies: &deps_unit_lint
              - openstack-tox-linters
              - openstack-tox-py27
              - openstack-tox-py36
              - openstack-tox-py37
        - tripleo-ci-centos-7-undercloud-containers:
            dependencies: *deps_unit_lint
        - tripleo-ci-centos-7-standalone:
            dependencies: *deps_unit_lint
        - tripleo-ci-centos-7-scenario000-multinode-oooq-container-upgrades:
            dependencies: *deps_unit_lint
        - tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
            dependencies: *deps_unit_lint
            files:
              - workbooks/package_update.yaml
              - workbooks/baremetal.yaml
              - ^container-images/.*$
              - tripleo_common/actions/deployment.py
              - tripleo_common/actions/container_images.py
              - tripleo_common/image/kolla_builder.py
              - scripts/.*$
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            dependencies: *deps_unit_lint
            files:
              - ^container-images/.*$
              - tripleo_common/image/kolla_builder.py
        - tripleo-ci-centos-7-standalone-upgrade:
            dependencies: *deps_unit_lint
        - tripleo-ci-centos-7-scenario001-standalone:
            dependencies: *deps_unit_lint
        - tripleo-ci-centos-7-scenario002-standalone:
            dependencies: *deps_unit_lint
        - tripleo-ci-centos-7-scenario003-standalone:
            dependencies: *deps_unit_lint
        - tripleo-ci-centos-7-scenario004-standalone:
            dependencies: *deps_unit_lint
        - tripleo-ci-centos-7-scenario012-standalone:
            dependencies: *deps_unit_lint
        - tripleo-buildimage-overcloud-full-centos-7:
            dependencies: *deps_unit_lint
            files:
              - ^image-yaml/.*$
        - tripleo-buildimage-ironic-python-agent-centos-7:
            dependencies: *deps_unit_lint
            files:
              - ^image-yaml/.*$
        - tripleo-buildimage-overcloud-hardened-full-centos-7:
            dependencies: *deps_unit_lint
            files:
              - ^image-yaml/.*$
        - openstack-tox-lower-constraints
    gate:
      queue: tripleo
      jobs:
        - openstack-tox-linters
        - openstack-tox-lower-constraints
        - tripleo-buildimage-overcloud-full-centos-7:
            files:
              - ^image-yaml/.*$
        - tripleo-buildimage-ironic-python-agent-centos-7:
            files:
              - ^image-yaml/.*$
        - tripleo-buildimage-overcloud-hardened-full-centos-7:
            files:
              - ^image-yaml/.*$

Remove config-download related mistral actions
  setup.cfg
  tripleo_common/actions/config.py
Due: none

Remove unnecessary Ceph{Admin,Mon,Mds}Key constants
  tripleo_common/constants.py
  tripleo_common/tests/actions/test_parameters.py
Due: none

Do not rotate CephX secrets
  tripleo_common/constants.py
  tripleo_common/utils/passwords.py
Due: none

Modify roles to remove unused services
  tripleo_common/actions/deployment.py
  tripleo_common/actions/templates.py
  tripleo_common/tests/actions/test_deployment.py
  tripleo_common/tests/actions/test_templates.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Add interface-names to Rhel8 images
  image-yaml/overcloud-hardened-images-rhel8.yaml
  image-yaml/overcloud-images-ceph-rhel8.yaml
  image-yaml/overcloud-images-rhel8.yaml
Due: tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7

Fix OVN Octavia provider driver package name
  container-images/tcib/base/os/octavia-base/octavia-api/octavia-api.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Revert "Remove config-download related mistral actions"
  setup.cfg
  tripleo_common/actions/config.py
Due: none

Add ensure_global_symlinks: true
  tox.ini
  zuul.d/layout.yaml
Due: none

Run tripleo-build-containers-ubi-8 under specific conditions
  zuul.d/layout.yaml
Due: none

Implement tripleo-cross-tripleoclient-py38
  zuul.d/cross-jobs.yaml
  zuul.d/layout.yaml
Due: none

Revert "Revert "Remove config-download related mistral actions""
  setup.cfg
  tripleo_common/actions/config.py
Due: none

Remove Validations Mistral Workflows
  scripts/run-validation
  setup.cfg
  sudoers
  tripleo_common/actions/validations.py
  tripleo_common/tests/actions/test_validations.py
  tripleo_common/tests/utils/test_validations.py
  tripleo_common/utils/plan.py
  tripleo_common/utils/validations.py
  workbooks/validations.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Set undercloud ansible_connection to local
  tripleo_common/inventory.py
Due: none

Fix stdout_callback
  tripleo_common/actions/ansible.py
Due: none

Ensure lanplus is unset when using redfish
  tripleo_common/tests/utils/test_stack_parameters.py
  tripleo_common/utils/stack_parameters.py
Due: none

Bump ceph/daemon container image to v3.2.14
  container-images/container_image_prepare_defaults.yaml
  container-images/overcloud_containers.yaml
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Bump ceph/daemon container image to v3.2.14
  container-images/overcloud_containers.yaml
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Run standalone jobs with locally built images
  zuul.d/layout.yaml
Due: none

tcib: move cradox to gnocchi-base & enable ci on scenario001
  container-images/tcib/base/os/gnocchi-base/gnocchi-api/gnocchi-api.yaml
  container-images/tcib/base/os/gnocchi-base/gnocchi-base.yaml
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Drop systemd support from nsswitch.conf
  container-images/tcib/base/base.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix the ANSIBLE_LOG_PATH value.
  workbooks/package_update.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

[Q->T] Include manila in the Queens to Train Upgrade
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Avoid tox-in-tox issue
  tox.ini
Due: none

Ensure lanplus is unset when using redfish
  tripleo_common/actions/parameters.py
  tripleo_common/tests/actions/test_parameters.py
Due: none

Catch exception if servers are in error state with no bm_node attached
  tripleo_common/tests/utils/test_stack_parameters.py
  tripleo_common/utils/nodes.py
Due: none

Switch to tripleo_dense
  tripleo_common/actions/ansible.py
  tripleo_common/tests/actions/test_ansible.py
Due: none

Catch exception if servers are in error state with no bm_node attached
  tripleo_common/utils/nodes.py
Due: none

Add tripleo_states to default callback whitelist
  tripleo_common/actions/ansible.py
  tripleo_common/tests/actions/test_ansible.py
Due: none

(TCIB) Remove validation related things from mistral container
  container-images/tcib/base/os/mistral-base/mistral-executor/mistral-executor.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container

tcib/ceilometer-base: remove panko dependency
  container-images/tcib/base/os/ceilometer-base/ceilometer-base.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container
