Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7

tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37

tripleo-ci-centos-7-scenario007-multinode-oooq-container:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37

tripleo-ci-centos-7-scenario009-multinode-oooq-container:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37

Move plan container creation to utils
  tripleo_common/actions/plan.py
  tripleo_common/tests/actions/test_plan.py
  tripleo_common/utils/plan.py
Due: none

Move away from "ss" and drop default verbose mode
  healthcheck/common.sh
  releasenotes/notes/no_ss-368721c3af17b782.yaml
Due: none

Remove upload_validations workflow and related action
  setup.cfg
  tripleo_common/actions/base.py
  tripleo_common/actions/templates.py
  tripleo_common/actions/validations.py
  workbooks/validations.yaml
Due: none

Added overcloud images yaml for CentOS-8
  image-yaml/overcloud-hardened-images-centos8.yaml
  image-yaml/overcloud-images-centos8.yaml
Due: tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7

Use config for layers
  tripleo_common/image/image_uploader.py
  tripleo_common/tests/image/test_image_uploader.py
Due: none

Bracket IPv6 address in ironic_inspector healthcheck
  healthcheck/common.sh
  healthcheck/fluentd
  healthcheck/glance-api
  healthcheck/ironic-inspector
  healthcheck/ironic-pxe
  healthcheck/memcached
  healthcheck/neutron-api
  healthcheck/nova-vnc-proxy
  healthcheck/opendaylight-api
  healthcheck/sahara-api
  healthcheck/swift-account-server
  healthcheck/swift-container-server
  healthcheck/swift-object-server
  healthcheck/swift-proxy
  healthcheck/tacker
Due: none

Move package_update worflow related functionality to utils
  tripleo_common/actions/container_images.py
  tripleo_common/actions/package_update.py
  tripleo_common/tests/actions/test_container_images.py
  tripleo_common/tests/utils/test_stack.py
  tripleo_common/utils/plan.py
  tripleo_common/utils/stack.py
  workbooks/package_update.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Do not create temporary swift URLS for ceph-ansible
  workbooks/deployment.yaml
  workbooks/plan_management.yaml
  workbooks/rename_ceph_ansible_fetch_directory.yaml
Due: none

Modify roles to remove unused services
  tripleo_common/actions/deployment.py
  tripleo_common/tests/utils/test_template.py
  tripleo_common/utils/template.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Move parameter actions functionality to utils - Part 1/2
  setup.cfg
  tripleo_common/actions/parameters.py
  tripleo_common/tests/actions/test_parameters.py
  tripleo_common/tests/utils/test_stack_parameters.py
  tripleo_common/utils/stack.py
  tripleo_common/utils/stack_parameters.py
Due: none

Move generate_fencing_parameters functionality to utils
  tripleo_common/actions/parameters.py
  tripleo_common/tests/actions/test_parameters.py
  tripleo_common/tests/utils/test_stack_parameters.py
  tripleo_common/utils/stack_parameters.py
  workbooks/parameters.yaml
Due: none

Remove package_update workbook
  workbooks/package_update.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Remove tripleo.skydive_ansible.v1 workbook
  workbooks/skydive-ansible.yaml
Due: none

Fix memcached healthcheck regression
  healthcheck/memcached
Due: none

Add overcloud-ceph image build yaml
  image-yaml/overcloud-images-ceph-centos8.yaml
  image-yaml/overcloud-images-ceph-rhel8.yaml
  image-yaml/overcloud-images-ceph.yaml
  releasenotes/notes/add-overcloud-ceph-image-build-yamls-8ad8fe8b013a314e.yaml
Due: tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7

Fix upload-swift-artifacts handling of json data
  scripts/upload-swift-artifacts
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

deployment: set DeployIdentifier to '' if --skip-deploy-identifier is used
  tripleo_common/actions/deployment.py
  tripleo_common/tests/actions/test_deployment.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Move RotateFernetKeysAction functionality to utils
  tripleo_common/actions/parameters.py
  tripleo_common/tests/actions/test_parameters.py
  tripleo_common/tests/utils/test_plan.py
  tripleo_common/utils/plan.py
Due: none

replace centos-7 with centos-8 in scenario jobs
  zuul.d/layout.yaml
Due: none

update jobs to centos-8
  zuul.d/layout.yaml
Due: none

remove older py35 tox job, due to bugs in py35 itself
  zuul.d/layout.yaml
Due: none

Improve step task check to cater for whitespace
  tripleo_common/utils/config.py
Due: none

test_kolla_builder: make tests invariant to default data
  tripleo_common/tests/image/test_kolla_builder.py
Due: none

Move GeneratePasswordsAction functionality to utils
  tripleo_common/actions/parameters.py
  tripleo_common/tests/actions/test_parameters.py
  tripleo_common/tests/utils/test_plan.py
  tripleo_common/utils/plan.py
Due: none

Remove get_passwords workflow and related action
  setup.cfg
  tripleo_common/actions/parameters.py
  tripleo_common/tests/actions/test_parameters.py
  workbooks/plan_management.yaml
Due: none

Remove unused password and fernet rotation actions and workflows
  setup.cfg
  tripleo_common/actions/parameters.py
  workbooks/fernet-key-rotate.yaml
  workbooks/plan_management.yaml
Due: none

[Q->T] Introduce Queens to Train Upgrade
  container-images/overcloud_containers.yaml.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Bump ceph/daemon container image to v4.0.10
  container-images/container_image_prepare_defaults.yaml
  container-images/overcloud_containers.yaml
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Increase randomness of generated CephFSID
  tripleo_common/utils/passwords.py
Due: none

Dynamically set the number of Ansible forks.
  tripleo_common/actions/ansible.py
  tripleo_common/tests/actions/test_ansible.py
Due: none

Switch py27 to nonvoting
  zuul.d/layout.yaml
Due: none

Move PrepareContainerImageEnv functionality to utils
  tripleo_common/actions/container_images.py
  tripleo_common/tests/actions/test_container_images.py
  tripleo_common/tests/utils/test_plan.py
  tripleo_common/utils/plan.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: workbooks/package_update.yaml, workbooks/baremetal.yaml, ^container-images/.*$, tripleo_common/actions/deployment.py, tripleo_common/actions/container_images.py, tripleo_common/image/kolla_builder.py, scripts/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py
  tripleo-buildimage-overcloud-full-centos-7: any of: ^image-yaml/.*$
  tripleo-buildimage-ironic-python-agent-centos-7: any of: ^image-yaml/.*$
  tripleo-buildimage-overcloud-hardened-full-centos-7: any of: ^image-yaml/.*$
