Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7

tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37

tripleo-ci-centos-7-scenario007-multinode-oooq-container:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37

tripleo-ci-centos-7-scenario009-multinode-oooq-container:
  dependencies:
  - openstack-tox-linters
  - openstack-tox-py36
  - openstack-tox-py37

Revert "Revert removal of OrchestrationDeployAction"
  tripleo_common/actions/deployment.py
  tripleo_common/tests/actions/test_deployment.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

[Train only] Fix misused timeout values in the deployment workflow
  workbooks/deployment.yaml
Due: none

Preserve existing placement password during extraction
  tripleo_common/actions/parameters.py
  tripleo_common/tests/actions/test_parameters.py
Due: none

Remove invalid mistral envocation and references
  tripleo_common/actions/deployment.py
  tripleo_common/actions/plan.py
  tripleo_common/tests/actions/test_deployment.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

[Train-Only] Expose --limit, --skip-tags, and --tags in config-download.
  tripleo_common/tests/actions/test_ansible.py
  workbooks/deployment.yaml
Due: none

mariadb: add pynacl dependency to support ed25519
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Add tripleo_role_networks to inventory role group vars
  tripleo_common/inventory.py
  tripleo_common/tests/test_inventories.py
  tripleo_common/tests/test_inventory.py
Due: none

Fix multistack inventory
  tripleo_common/inventories.py
  tripleo_common/inventory.py
  tripleo_common/tests/inventory_data/cell1_dynamic.json
  tripleo_common/tests/inventory_data/cell1_static.yaml
  tripleo_common/tests/inventory_data/merged_dynamic.json
  tripleo_common/tests/inventory_data/merged_static.yaml
  tripleo_common/tests/inventory_data/overcloud_dynamic.json
  tripleo_common/tests/inventory_data/overcloud_static.yaml
  tripleo_common/tests/test_inventories.py
  tripleo_common/tests/test_inventory.py
Due: none

Include uc plan var when TripleoInventories contains a single plan
  tripleo_common/inventories.py
  tripleo_common/tests/inventory_data/merged_dynamic.json
  tripleo_common/tests/inventory_data/merged_static.yaml
  tripleo_common/tests/inventory_data/single_dynamic.json
  tripleo_common/tests/inventory_data/single_static.yaml
  tripleo_common/tests/test_inventories.py
Due: none

Add ssh timeout for baremetal_deploy
  workbooks/baremetal_deploy.yaml
Due: none

Only add non-empty blacklisted hostnames.
  tripleo_common/actions/ansible.py
Due: none

Cleanup py27 support
  lower-constraints.txt
  requirements.txt
  setup.cfg
  setup.py
  test-requirements.txt
Due: none

[stable-only] Pass timeout in mins to create_temp_url()
  tripleo_common/actions/deployment.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Remove DeploymentStatusAction
  setup.cfg
  tripleo_common/actions/deployment.py
  tripleo_common/tests/actions/test_deployment.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Fix "import xx as xx"
  tripleo_common/utils/template.py
Due: none

Move OvercloudRcAction functionality to utils
  tripleo_common/actions/deployment.py
  tripleo_common/tests/actions/test_deployment.py
  tripleo_common/tests/utils/test_overcloudrc.py
  tripleo_common/utils/overcloudrc.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Move *OvercloudConfigAction functionality to utils
  tripleo_common/actions/config.py
  tripleo_common/tests/actions/test_config.py
  tripleo_common/tests/utils/test_config.py
  tripleo_common/utils/config.py
Due: none

Use healthcheck_port for ironic_inspector_dnsmasq healthcheck
  healthcheck/ironic-inspector
Due: none

utils/config: allows a when to have boolean conditions
  tripleo_common/tests/fake_config/fakes.py
  tripleo_common/tests/utils/test_config.py
  tripleo_common/utils/config.py
Due: none

Remove GetDeploymentFailuresAction
  tripleo_common/actions/deployment.py
  tripleo_common/tests/actions/test_deployment.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Use a full string match for container images
  tripleo_common/image/kolla_builder.py
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Prevent duplicated hosts in overcloudrc no_proxy
  tripleo_common/tests/utils/test_overcloudrc.py
  tripleo_common/utils/overcloudrc.py
Due: none

Fix the log path on the host.
  workbooks/package_update.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Remove baremetal_deploy.* action entrypoints
  setup.cfg
Due: none

Bump ceph/daemon container image to v4.0.12
  container-images/container_image_prepare_defaults.yaml
  container-images/overcloud_containers.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Bump ceph/daemon container image to v4.0.12
  container-images/container_image_prepare_defaults.yaml
  container-images/overcloud_containers.yaml
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container

Fix deployments playbook to work in check mode
  tripleo_common/templates/deployments.yaml
Due: none

Don't allow provisioned in the defaults section
  tripleo_common/actions/baremetal_deploy.py
Due: none

Remove swift_ring_rebalance.yaml workbook
  workbooks/swift_ring_rebalance.yaml
Due: none

[train-only] Ensure overcloud inventory group exists
  tripleo_common/inventories.py
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: workbooks/package_update.yaml, workbooks/baremetal.yaml, ^container-images/.*$, tripleo_common/actions/deployment.py, tripleo_common/actions/container_images.py, tripleo_common/image/kolla_builder.py, scripts/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py
  tripleo-buildimage-overcloud-full-centos-7: any of: ^image-yaml/.*$
  tripleo-buildimage-ironic-python-agent-centos-7: any of: ^image-yaml/.*$
  tripleo-buildimage-overcloud-hardened-full-centos-7: any of: ^image-yaml/.*$
