Repository openstack-archive/tripleo-common: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

zuul.d/layout.yaml:

- project:
    templates:
      - tripleo-undercloud-jobs
      - tripleo-multinode-baremetal-minimal
      - tripleo-multinode-container-minimal
    check:
      jobs:
        - tripleo-ci-centos-7-scenario001-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario002-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario003-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario004-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
            files:
              - workbooks/package_update.yaml
              - workbooks/baremetal.yaml
              - ^container-images/.*$
              - tripleo_common/actions/deployment.py
    gate:
      queue: tripleo
      jobs:
        - tripleo-ci-centos-7-scenario001-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario002-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario003-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario004-multinode-oooq-container:
            files:
              - workbooks/ceph-ansible.yaml
              - ^container-images/.*$
              - tripleo_common/actions/ansible.py
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - ^container-images/.*$
        - tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates:
            files:
              - workbooks/package_update.yaml
              - workbooks/baremetal.yaml
              - ^container-images/.*$
              - tripleo_common/actions/deployment.py

tripleo-validations, group-validations fails with notify_running task exception
  workbooks/validations.yaml
Due: none

Add workflow to select sample plan
  workbooks/plan_management.yaml
Due: none

Select default "openstack" plan when no plan-environment.yaml found
  workbooks/plan_management.yaml
Due: none

Fixes ordering of environment files in a deployment plan
  tripleo_common/actions/heat_capabilities.py
  tripleo_common/tests/actions/test_heat_capabilities.py
  tripleo_common/tests/utils/test_plan.py
  tripleo_common/utils/plan.py
Due: none

Allow passing tags to update/upgrade Ansible workflow
  workbooks/package_update.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Retry inspect of container images
  tripleo_common/image/exception.py
  tripleo_common/image/image_uploader.py
Due: none

Increase gb_per_osd from 3 to 5 in derive_params_formulas
  workbooks/derive_params_formulas.yaml
Due: none

healthcheck/memcached: add brackets if ipv6
  healthcheck/memcached
Due: none

Remove unused clients from container images
  container-images/tripleo_kolla_template_overrides.j2
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Fix ssh_known_hosts format
  roles/tripleo-ssh-known-hosts/templates/ssh_known_hosts.j2
Due: none

Write to /etc/ssh with super user privileges
  roles/tripleo-ssh-known-hosts/tasks/main.yml
Due: none

Raise ansible forks to 25
  tripleo_common/actions/ansible.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Use ansible_hostname
  roles/tripleo-ssh-known-hosts/templates/ssh_known_hosts.j2
Due: none

Improve ssh connection handling
  tripleo_common/actions/ansible.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Allow exit code of 0 only for deployments
  tripleo_common/templates/deployments.yaml
Due: none

Enable ControlMaster for ansible ssh
  tripleo_common/actions/ansible.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

ansible: enable pipelining
  tripleo_common/actions/ansible.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Retry previously failed deployments
  tripleo_common/releasenotes/notes/automatically-retry-failed-deployments-baf0c701e6d1ad4a.yaml
  tripleo_common/templates/deployments.yaml
Due: none

Allow for more overhead in zaqar message
  tripleo_common/actions/ansible.py
  tripleo_common/tests/actions/test_ansible.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Ignore errors when checking result of previous deployments
  tripleo_common/templates/deployments.yaml
Due: none

Move scenario009 to the check queue
  zuul.d/layout.yaml
Due: none

Use scenario001 as check and gate job
  zuul.d/layout.yaml
Due: none

Persist ceph-ansible fetch_directory using mistral
  setup.cfg
  tripleo_common/actions/files.py
  tripleo_common/tests/actions/test_files.py
  tripleo_common/utils/tarball.py
  workbooks/ceph-ansible.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Updates OpenDaylight healthcheck URI
  healthcheck/opendaylight-api
Due: none

Generate rndc key in password list
  tripleo_common/constants.py
  tripleo_common/tests/actions/test_parameters.py
  tripleo_common/utils/passwords.py
Due: none

Take WSGIScriptAlias into account in docker healthcheck.
  healthcheck/common.sh
  healthcheck/nova-placement
Due: none

Add DockerNovaMetadataConfigImage as part of metadata httpd wsgi move
  container-images/overcloud_containers.yaml.j2
  releasenotes/notes/nova_metadata_config_image-26e727263be52408.yaml
  tripleo_common/tests/image/test_kolla_builder.py
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Replace Exception.message with str(Exception)
  tripleo_common/utils/swift.py
Due: none

Add --xattrs to sudoers.
  sudoers
Due: none

Generate additional roles with defined roles file
  releasenotes/notes/generate-roles-with-colon-c903826db084b8a6.yaml
  tripleo_common/tests/utils/test_roles.py
  tripleo_common/utils/roles.py
Due: none

Fix gnocchi_statsd and ceilometer_agent_ipmi healthcheck
  healthcheck/ceilometer-agent-ipmi
  healthcheck/gnocchi-statsd
Due: none

fix tox python3 overrides
  tox.ini
Due: none

Remove role_data from inventory
  tripleo_common/inventory.py
  tripleo_common/tests/test_inventory.py
Due: none

Use /var/lib/mistral/<plan-name> as config-download dir
  releasenotes/notes/config-download-consistent-work-dir-b8a37550c3970722.yaml
  workbooks/deployment.yaml
Due: none

git integration for GetOvercloudConfig action
  releasenotes/notes/config-download-git-repo-commit-msg-9a550daaae1fc55e.yaml
  tripleo_common/actions/config.py
  tripleo_common/tests/actions/test_config.py
  workbooks/deployment.yaml
Due: none

Update failures listing to use latest ansible-errors.json location
  tripleo_common/actions/deployment.py
  tripleo_common/tests/actions/test_deployment.py
  workbooks/deployment.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Makes sorting environments with capabilities-map optional
  tripleo_common/actions/heat_capabilities.py
  tripleo_common/tests/actions/test_heat_capabilities.py
Due: none
